<p-toast></p-toast>

<nb-card class="px-3 container" [nbSpinner]="loading" nbSpinnerStatus="primary"
nbSpinnerSize="large" nbSpinnerMessage="" >
    <form [formGroup]="nbForm" (ngSubmit)="submit()">
        <nb-card-header class="row justify-content-between">
            <div>
                <h5>{{formTitle}} Cargo Name</h5>
            </div>
            <div>
                <button type="button" nbButton status="danger" (click)="close()" class="mr-2">Cancel</button>
                <button type="button" nbButton status="basic" (click)="clearForm()"  class=" mr-2">Clear Form</button>
                <button type="submit" nbButton status="primary" class=" mr-2">Submit</button>
            </div>
        </nb-card-header>
        <nb-card-body class="example-items-rows">

                <div class=" col">
                    <label for="firstName" class="form-label">Cargo Name<span style="color: red;">*</span></label>
                    <input type="text"  formControlName="CargoName" nbInput fullWidth fieldSize="medium" placeholder=" Cargo Name">
                    <small
                    *ngIf="nbForm.get('CargoName')?.invalid && (nbForm.get('CargoName')?.touched || nbForm.get('CargoName')?.dirty)">
                    <nb-hint style="color: red;" *ngIf=" nbForm.get('CargoName')?.errors?.['required']">
                        Required</nb-hint>
                    <nb-hint style="color: red;" *ngIf="  nbForm.get('CargoName')?.errors?.['maxlength']">
                        Cargo Name should have at most 50 characters</nb-hint>
                    <nb-hint style="color: red;"
                        *ngIf=" nbForm.get('CargoName')?.dirty && nbForm.get('CargoName')?.touched && nbForm.get('CargoName')?.errors?.['minlength']">Cargo
                        Name should have at least 3 characters</nb-hint>
                    <nb-hint style="color: red;"
                        *ngIf=" nbForm.get('CargoName')?.dirty && nbForm.get('CargoName')?.touched && nbForm.get('CargoName')?.errors?.duplicateValue">Cargo
                        Name is duplicate</nb-hint>


                </small>
                <!-- <div *ngIf="nbForm.get('CargoName').errors.duplicate">
                    Duplicate CargoName Please enter a different name.
                  </div> -->
                </div>


        </nb-card-body>
    </form>
</nb-card>
