<nb-card class="px-3 W-100" [nbSpinner]="loading" nbSpinnerStatus="primary" nbSpinnerSize="large" nbSpinnerMessage="">
  <form [formGroup]="nbForm" (ngSubmit)="submit()">
    <nb-card-header class="row  align-items-center justify-content-between">
      <div>
        <h5>{{formTitle}} Requisition Form</h5>
      </div>
      <div>
        <button type="button" nbButton status="danger" (click)="close()" class="mr-2">Cancel</button>
        <button type="button" nbButton status="basic" type="reset" class=" mr-2">Clear Form</button>
        <button type="submit" nbButton status="primary" class=" mr-2">Submit</button>
      </div>
    </nb-card-header>
    <nb-card-body class="example-items-rows row">

      <div class=" col-4 mb-3">
        <label class="form-label">Vendor<span style="color: red;">*</span></label>
        <ng-select fullWidth formControlName="VendorId" (keyup)="getVendorListRecords(1,100,$event.target.value)"
          [appendTo]="'body'" placeholder="Select Vendor">
          <ng-option *ngFor="let option of dropDownVendorList" [value]="option.VendorId">{{
            option.VendorName }}</ng-option>
        </ng-select>
        <small
          *ngIf="nbForm.get('VendorId')?.invalid && (nbForm.get('VendorId')?.touched || nbForm.get('VendorId')?.dirty)">
          <nb-hint style="color: red;" *ngIf=" nbForm.get('VendorId')?.errors?.['required']">
            Required</nb-hint>
        </small>
      </div>
      <div class=" col-4 mb-3">
        <!-- [(ngModel)]="selectedVesselId" (ngModelChange)="onVesselSelectionChange()" -->
        <label class="form-label">Vessel<span style="color: red;">*</span></label>
        <ng-select fullWidth formControlName="VesselId" (keyup)="getVesselListRecords(1,100,$event.target.value)"
          [appendTo]="'body'" (change)="getFixtureList()" (change)="getValueVessel($event)" placeholder="Select Vessel">
          <ng-option *ngFor="let option of dropDownVesselList" [value]="option.VesselId">{{
            option.VesselName }}</ng-option>
        </ng-select>
        <small
          *ngIf="nbForm.get('VesselId')?.invalid && (nbForm.get('VesselId')?.touched || nbForm.get('VesselId')?.dirty)">
          <nb-hint style="color: red;" *ngIf=" nbForm.get('VesselId')?.errors?.['required']">
            Required</nb-hint>
        </small>
      </div>
      <div class=" col-4 mb-3">
        <label class="form-label">Supply Port<span style="color: red;">*</span></label>
        <ng-select fullWidth formControlName="PortId" (keyup)="getPortList(1,100,$event.target.value)"
          [appendTo]="'body'" placeholder="Select Port">
          <ng-option *ngFor="let option of dropDownPortList" [value]="option.PortId">{{
            option.PortName }}</ng-option>
        </ng-select>
        <small *ngIf="nbForm.get('PortId')?.invalid && (nbForm.get('PortId')?.touched || nbForm.get('PortId')?.dirty)">
          <nb-hint style="color: red;" *ngIf=" nbForm.get('PortId')?.errors?.['required']">
            Required</nb-hint>
        </small>
      </div>
      <div class="mb-3 col-4">
        <label class="form-label">Supply Date<span style="color: red;">*</span></label><br>
        <input nbInput formControlName="SupplyDate" placeholder="Pick Date" fullWidth fieldSize="medium"
          [nbDatepicker]="dateTimePicker3">
        <nb-datepicker #dateTimePicker3></nb-datepicker>
        <small
          *ngIf="nbForm.get('SupplyDate')?.invalid && (nbForm.get('SupplyDate')?.touched || nbForm.get('SupplyDate')?.dirty)">
          <nb-hint style="color: red;" *ngIf=" nbForm.get('SupplyDate')?.errors?.['required']">
            Required</nb-hint>
        </small>
      </div>
      <div class=" col-4 mb-3">
        <label class="form-label">MUR Fixture No<span style="color: red;">*</span></label>
        <ng-select fullWidth formControlName="MURFixtureNo" [appendTo]="'body'" placeholder="Select MUR Fixture No">
          <ng-option *ngFor="let option of dropDownfixtureList" [value]="option.VoyageId">{{
            option.Fixture }}</ng-option>
        </ng-select>
        <small
          *ngIf="nbForm.get('MURFixtureNo')?.invalid && (nbForm.get('MURFixtureNo')?.touched || nbForm.get('MURFixtureNo')?.dirty)">
          <nb-hint style="color: red;" *ngIf=" nbForm.get('MURFixtureNo')?.errors?.['required']">
            Required</nb-hint>
        </small>
      </div>
      <div class="col-12">
        <label for="AgentAddress" class="form-label">Agent Address<span style="color: red;">*</span></label>
        <textarea type="text" formControlName="AgentAddress" nbInput fullWidth fieldSize="medium"
          placeholder="Agent Address"></textarea>
        <small
          *ngIf="nbForm.get('AgentAddress')?.invalid && (nbForm.get('AgentAddress')?.touched || nbForm.get('AgentAddress')?.dirty)">
          <nb-hint style="color: red;" *ngIf=" nbForm.get('AgentAddress')?.errors?.['required']">
            Required</nb-hint>
        </small>

      </div>
      <!-- <div class="col-4">
        <label for="Contact" class="form-label">Contact<span style="color: red;">*</span></label>
        <input type="text" formControlName="Contact" nbInput fullWidth fieldSize="medium"
          placeholder="Contact">
          <small
          *ngIf="nbForm.get('Contact')?.invalid && (nbForm.get('Contact')?.touched || nbForm.get('Contact')?.dirty)">
          <nb-hint style="color: red;" *ngIf=" nbForm.get('Contact')?.errors?.['required']">
            Required</nb-hint>
        </small>

      </div> -->
      <!-- <div class="mb-3 col-4">
                <label class="form-label">Type Of Supply<span style="color: red;">*</span></label>

                <ng-select fullWidth formControlName="TypeOfSupplyId"
                    (keyup)="getSupplyListRecords(1,100,$event.target.value)" [appendTo]="'body'"
                    placeholder="Type Of Supply">
                    <ng-option *ngFor="let option of dropDownSupplyList" [value]="option.SupplyTypeId">{{
                        option.SupplyTypeName }}</ng-option>
                </ng-select>
                <small
                    *ngIf="nbForm.get('TypeOfSupplyId')?.invalid && (nbForm.get('TypeOfSupplyId')?.touched || nbForm.get('TypeOfSupplyId')?.dirty)">
                    <nb-hint style="color: red;" *ngIf=" nbForm.get('TypeOfSupplyId')?.errors?.['required']">
                        Required</nb-hint>
                </small>
            </div> -->
    </nb-card-body>
  </form>


  <!-- <div class="col-12 mb-4">
        <div class="card">
            <p-table [tableStyle]="{ 'width': '100%' }" [value]="requisitionData" dataKey="EquipmentCategoryName"
                rowGroupMode="subheader" groupRowsBy="EquipmentCategoryName" expandableRowGroups="true"
                [(selection)]="selectedCustomers" (onRowSelect)="onRowSelect($event)">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Equipment</th>
                        <th>Unit</th>
                        <th>Qty Required</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="groupheader" let-customer let-rowIndex="rowIndex" let-expanded="expanded">
                    <tr>
                        <td colspan="5">
                            <span type="button" [pRowToggler]="customer"><i class="" style="font-size: 0.8rem"
                                    [ngClass]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></i>
                                <span class="p-text-bold p-ml-2 ml-2 mb-1">{{ customer.EquipmentCategoryName
                                    }}</span></span>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-rowData let-product let-editing="editing">
                    <tr *ngFor="let data of product.EquipmentList">
                        <td>
                            {{ data.EquipmentName }}
                        </td>
                        <td>
                            {{ data.UnitName }}
                        </td>
                        <td [pEditableColumn]="data.MinOrderQty" pEditableColumnField="MinOrderQty">
                            <p-cellEditor>
                                <ng-template pTemplate="input">
                                    <input nbInput type="text" fullWidth [(ngModel)]="data.MinOrderQty"  (blur)="onMinOrderQtyChange(data)"/>
                                </ng-template>
                                <ng-template pTemplate="output">
                                    {{ data.MinOrderQty}}
                                </ng-template>
                            </p-cellEditor>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div> -->


  <div class="col-12 mb-4 data-table">
    <div class="card data-table">
      <p-table [tableStyle]="{ 'width': '100%' }" [value]="requisitionData" dataKey="EquipmentCategoryName">
        <ng-template pTemplate="header">
          <tr class="data-table">
            <th>Equipment</th>
            <th>Unit</th>
            <th>Maker</th>
            <th>Qty Required</th>
            <th>Remarks</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-expanded="expanded">
          <tr class="data-table">
            <td colspan="3" style="font-weight: 600;">{{ rowData.EquipmentCategoryName }}</td>
          </tr>
          <tr *ngFor="let data of rowData.EquipmentList" (click)="getEquipmentId(data.EquipmentId)" class="data-table">
            <td>{{ data.EquipmentName }}</td>
            <td>{{ data.UnitName }}</td>
          
            <td [pEditableColumn]="data.RequisitionMaker" pEditableColumnField="RequisitionMaker"
              [ngClass]="modeByRequisition!=='RequisitionView' ? 'nb-bgchange':''">
              <p-cellEditor *ngIf="modeByRequisition!=='RequisitionView'">
                <!-- [formControl]="updateListForm.get('Remarks')" -->
                <ng-template pTemplate="input">

                  <ng-select class="dropdown-top" [(ngModel)]="data.RequisitionMaker" addTagText="Add Item"
                    [addTag]="CreateNew" [appendTo]="'body'" placeholder="Select Maker" fullWidth
                    (blur)="onMinOrderQtyChange(data)" fieldSize="medium">

                    <ng-option *ngFor="let option of makerDropdown" [value]="option.MakerName ">{{ option.MakerName
                      }}</ng-option>

                  </ng-select>

                  <!-- <input nbInput type="text" fullWidth [(ngModel)]="data.RequisitionMaker"      (blur)="onMinOrderQtyChange(data)"/> -->
                </ng-template>
                <ng-template pTemplate="output">

                  {{ data.RequisitionMaker}}
                </ng-template>
              </p-cellEditor>
              <ng-container *ngIf="modeByRequisition==='RequisitionView'"> {{ data.RequisitionMaker}}</ng-container>
            </td>
            <td [pEditableColumn]="data.MinOrderQty" pEditableColumnField="MinOrderQty" ngClass="nb-bgchange">
              <p-cellEditor>
                <!-- [formControl]="updateListForm.get('MinOrderQty')" -->
                <ng-template pTemplate="input">
                  <input nbInput type="text" fullWidth [(ngModel)]="data.MinOrderQty"
                    (blur)="onMinOrderQtyChange(data)" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ data.MinOrderQty}}
                </ng-template>
              </p-cellEditor>
            </td>
            <td [pEditableColumn]="data.MinOrderQty" pEditableColumnField="MinOrderQty" ngClass="nb-bgchange">
              <p-cellEditor>
                <!-- [formControl]="updateListForm.get('MinOrderQty')" -->
                <ng-template pTemplate="input">
                  <input nbInput type="text" fullWidth [(ngModel)]="data.RequisitionRemarks"
                    (blur)="onMinOrderQtyChange(data)" />
                </ng-template>
                <ng-template pTemplate="output">
                  {{ data.RequisitionRemarks}}
                </ng-template>
              </p-cellEditor>
            </td>
          </tr>

        </ng-template>
      </p-table>
    </div>
  </div>
</nb-card>
<p-toast></p-toast>