nb-card{
    width: 90vw;
    max-height: 85vh;
    overflow: scroll;

  }

  // @media only screen and (max-width: 600px) {
  //   nb-card {
  //     width: 80vw; height: 80vh;
  //     overflow: scroll;
  //   }
  // }

  // @media only screen and (min-width: 600px) {
  //   nb-card {
  //     width: 90vw; height: 80vh;
  //     overflow: scroll;
  //   }
  // }

  // @media only screen and (min-width: 768px)  and (min-width: 1200px) {
  //   nb-card {
  //     width: 50vw; height: 80vh;
  //     overflow: scroll;
  //   }
  // }
