<p-toast></p-toast>
<nb-card class="px-3 container" 
[nbSpinner]="loading" nbSpinnerStatus="primary"
nbSpinnerSize="large" nbSpinnerMessage="">
    <form [formGroup]="nbForm" (ngSubmit)="submit()">
        <nb-card-header class="row  align-items-center justify-content-between">
            <div>
                <h5>{{formTitle}} SHA Details</h5>
            </div>
            <div>
                <button type="button" nbButton status="danger" (click)="close()" class="mr-2">Cancel</button>
                <button type="button" nbButton status="basic" type="reset" class=" mr-2">Clear Form</button>
                <button type="submit" nbButton status="primary" class=" mr-2">Submit</button>
            </div>
        </nb-card-header>
        <nb-card-body class="example-items-rows">

            <div class="row px-2">
                <div class="mb-3 col-6">
                    <label for="SHAName" class="form-label">SHA Name<span style="color: red;">*</span></label>
                    <input type="text" id="SHAName" formControlName="SHAName" nbInput fullWidth fieldSize="medium"
                        placeholder=" SHA Name">
                    <small
                        *ngIf="nbForm.get('SHAName')?.invalid && (nbForm.get('SHAName')?.touched || nbForm.get('SHAName')?.dirty)">
                        <nb-hint style="color: red;" *ngIf=" nbForm.get('SHAName')?.errors?.['required']">Required</nb-hint>
                        <nb-hint style="color: red;" *ngIf="  nbForm.get('SHAName')?.errors?.['maxlength']">
                            SHA Name should have at most 50 characters</nb-hint>
                        <nb-hint style="color: red;"
                            *ngIf=" nbForm.get('SHAName')?.dirty && nbForm.get('SHAName')?.touched && nbForm.get('SHAName')?.errors?.['minlength']">SHA
                            Name should have at least 3 characters</nb-hint>
                            <nb-hint style="color: red;"
                            *ngIf=" nbForm.get('SHAName')?.dirty && nbForm.get('SHAName')?.touched && nbForm.get('SHAName')?.errors?.duplicateValue">SHA Name
                             is duplicate</nb-hint>

                    </small>
                </div>
                <div class="mb-3 col-6">
                    <label for="CountryId" class="form-label">Country located in<span style="color: red;">*</span></label>
                    <!-- <nb-select formControlName="CountryId" placeholder="Country located in" fullWidth
                        fieldSize="medium">
                        <nb-option *ngFor="let option of dropDownCountrylist" [value]="option.CountryId">
                            {{ option.CountryName}}</nb-option>
                    </nb-select> -->
                    
                    <ng-select class="dropdown-top" [attr.id]="'CountryId'" (keyup)="getCountryListRecords(1,100,$event.target.value)" [appendTo]="'body'"  fullWidth   formControlName="CountryId"  placeholder="Country located in">

                        <ng-option *ngFor="let option of dropDownCountrylist" [value]="option.CountryId">{{
                            option.CountryName }}</ng-option>

                    </ng-select>

                    <small
                        *ngIf="nbForm.get('CountryId')?.invalid && (nbForm.get('CountryId')?.touched || nbForm.get('CountryId')?.dirty)">
                        <nb-hint style="color: red;" *ngIf=" nbForm.get('CountryId')?.errors?.['required']">Required</nb-hint>


                    </small>
                </div>



                <div class=" col-12">
                    <label for="CountriesCovered"  class="form-label">Countries Covered<span style="color: red;">*</span></label>
                    <!-- <nb-select formControlName="CountriesCovered1" multiple placeholder="Select Countries Covered"
                        fullWidth fieldSize="medium">
                        <nb-option *ngFor="let option of dropDownCountrylist" [value]="option.CountryName">
                            {{ option.CountryName}}</nb-option>
                    </nb-select> -->

                    <ng-select class="dropdown-top" [appendTo]="'body'" (keyup)="getCountryListRecords(1,100,$event.target.value)" [multiple]="true"   fullWidth  formControlName="CountriesCovered1"  placeholder="Select Countries Covered">
                        <ng-option *ngFor="let option of dropDownCountrylist" [value]="option.CountryName">{{
                            option.CountryName }}</ng-option>

                    </ng-select>

                    <small
                        *ngIf="nbForm.get('CountriesCovered1')?.invalid && (nbForm.get('CountriesCovered1')?.touched || nbForm.get('CountriesCovered1')?.dirty)">
                        <nb-hint style="color: red;" *ngIf=" nbForm.get('CountriesCovered1')?.errors?.['required']">Required</nb-hint>


                    </small>
                </div>

            </div>

        </nb-card-body>
    </form>

</nb-card>
