::ng-deep .p-tabview-nav-link:hover{
  text-decoration: none;
}

::ng-deep .Completed{
  color:#6b6464;
  background-color: #c9e4dea1;
}
::ng-deep .Planning{
  color:#6b6464;
  background-color:  #f7d9c4c9;
}
::ng-deep .Progress{
  color:#6b6464;
  background-color:  #fff4ccbf;;
}

