  <nb-card class="px-2">
    <nb-card-header class="row align-items-center justify-content-between">
      <div class="col-md-6 col-9 ">
        <h5>Fleet Type Management</h5>
      </div>
      <div class="col-md-6 col-3 d-flex justify-content-end align-items-center">
        <button nbButton (click)="openWithoutBackdrop()" class=" d-md-flex d-none">Add Fleet Type  </button>
        <nb-icon icon="plus" class=" d-md-none d-flex" (click)="openWithoutBackdrop()"></nb-icon>
      </div>
    
    </nb-card-header>
  </nb-card>
  <nb-card class=" mt-4">
    <nb-card-body>
      <div class="row  p-3 justify-content-end align-items-center">
  
        <div class="col-3 p-0 text-right"><input type="text" fullWidth (keyup)="filterBy($event)" placeholder="Search By Fleet Type Name"
            nbInput [(ngModel)]="filterTableValue" /></div>
      </div>    <p-table
     #dt1
     [value]="fleetType"
     dataKey="id"
     [rows]="5"
     [showCurrentPageReport]="true"
     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
     [globalFilterFields]="['FleetTypeName']"
     [tableStyle]="{ 'min-width': '50rem' }"
     [columns]="cols"
     [showCurrentPageReport]="true">
     
      <ng-template pTemplate="header" let-columns>
        <tr>

          <th *ngFor="let col of columns" pReorderableColumn pSortableColumn="FleetTypeName">
            {{ col.header }} <p-sortIcon field="FleetTypeName"></p-sortIcon>
          </th>


          <th style="width:10%">Action</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex" let-product
        let-editing="editing">
        <tr [pReorderableRow]="index" [pEditableRow]="product">
          <td *ngFor="let col of columns">
            <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
              {{ rowData.FleetTypeName }}
            </div>
            <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
              animation="pulse">
            </ngx-skeleton-loader>

          </td>
          <td>
            <div [ngClass]="checkListRecord===false ? 'd-none' : 'd-flex border-none'" class=""
                style="border-width: 0px 0px 0px 0px !important;">
                <button pButton pRipple icon="pi pi-pencil" nbTooltip="Edit" nbTooltipPlacement="top"
                    class=" p-button-primary  mr-2" (click)="editDetails(product)"></button>
                <button pButton nbTooltip="Delete" nbTooltipPlacement="top" pRipple icon="pi pi-trash"
                    class=" p-button-primary" (click)="deleteDetails(product)"></button>
            </div>
            <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
                animation="pulse">
            </ngx-skeleton-loader>
        </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">{{emptymessage}}</td>
        </tr>
    </ng-template>
    </p-table>
    <div *ngIf="countValue !== 0" class="row align-items-center justify-content-center ">
      <span
        style="color: --card-text-color; font-family: Poppins, sans-serif; font-weight: normal; font-size: 0.8125rem;">Showing
        {{firstCount}} to {{nextCount}} of {{totalCount}} entries</span>
      <p-paginator [rows]="selectedRows" [totalRecords]="totalCount" (onPageChange)="paginate($event)"></p-paginator>
      <nb-select placeholder="" (selectedChange)="getChangeRows($event)" [(selected)]="selectedRows">
        <nb-option value="25">25</nb-option>
        <nb-option value="50">50</nb-option>
        <nb-option value="100">100</nb-option>
      </nb-select>
    </div>
  </nb-card-body>
</nb-card>  <p-toast></p-toast>
