<nb-card class="px-2">
    <nb-card-header class="row align-items-center justify-content-between">
        <div>
            <h5>Circulars Management</h5>
        </div>
        <!-- <nb-icon icon="calendar-outline"></nb-icon>  -->
        <div class="d-flex justify-content-between">
            <div class="p-1">
                <ng-select class="dropdown-top" class="fixed-dropdown-size"
                    (change)="dt1.filterGlobal($event, 'contains')" (keyup)="getVesselListRecords(1,100,$event.target.value)" [appendTo]="'body'" placeholder="VESSEL" fullWidth
                    fieldSize="medium">
                    <ng-option *ngFor="let option of vesselDropdown"
                        [value]="option.VesselName">{{option.VesselName}}</ng-option>
                </ng-select>
            </div>
          
            <div class="p-1">
                <input nbInput (keydown)="clearDateRange($event)" placeholder="DATE RANGE" 
                  [nbDatepicker]="formpicker">
                <nb-rangepicker (rangeChange)="dateFilter($event)" #formpicker></nb-rangepicker>
              </div>
            <div class="p-1">
                <ng-select class="dropdown-top"   (keyup)="getApplicabilityListRecords(1,100,$event.target.value)" class="fixed-dropdown-size"
                    (change)="dt1.filterGlobal($event, 'contains')" [appendTo]="'body'" placeholder="APPLICABILITY"
                    fullWidth fieldSize="medium">
                    <ng-option *ngFor="let option of applicability"
                        [value]="option.ApplicableName">{{option.ApplicableName}}</ng-option>
                </ng-select>
            </div>
        </div>
        <div>
            <button nbButton (click)="openWithoutBackdrop()">Add Circulars</button>
        </div>
    </nb-card-header>
    <div class="d-flex  justify-content-between py-3">
        <div>
            <button nbButton [status]="activeIndex === 0 ? 'primary' : 'control'"
                [ngClass]="activeIndex===0?'':'button-table'" class="mr-2" (click)="changeCircularList('Active')"
                label="">Active Circulars</button>
            <button nbButton [status]="activeIndex === 1 ? 'primary' : 'control'"
                [ngClass]="activeIndex===1?'':'button-table'" (click)="changeCircularList('Archived')" label="">
                Archived Circulars</button>
        </div>
        <div>
            <button type="button" pButton pRipple icon="pi pi-file" (click)="dt1.exportCSV()" class="mr-2"
                nbTooltip="CSV" nbTooltipPlacement="top"></button>
            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                class="p-button-success mr-2" nbTooltip="XLS" nbTooltipPlacement="top"></button>
        </div>
    </div>
</nb-card>
<p-toast></p-toast>
<nb-card>
    <p-table #dt1 [value]="circular" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
        [(selection)]="selectedProducts" [paginator]="checkListRecord===true ? true : false"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['CircularCategoryName','ApplicableName','VesselName','CreatedDate']"
        [tableStyle]="{ 'min-width': '50rem' }" [columns]="cols">
        <ng-template pTemplate="caption">
            <div class="d-flex">
                <span class=" ml-auto">
                    <input nbInput type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="CircularCategoryName">
                    Circulars Category <p-sortIcon field="CircularCategoryName"></p-sortIcon>
                </th>
                <th pSortableColumn="CreatedDate">Circulars Date
                    <p-sortIcon field="CreatedDate"></p-sortIcon>
                </th>
                <th pSortableColumn="ApplicableName">
                    Applicability
                    <p-sortIcon field="ApplicableName"></p-sortIcon>
                </th>
                <th style="width:20%"> Archive

                </th>
                <th style="width:10%">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex" let-product
            let-editing="editing">
            <tr [pReorderableRow]="index" [pEditableRow]="product">
                <td>
                    <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
                        {{ rowData.CircularCategoryName }}
                    </div>
                    <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
                        animation="pulse">
                    </ngx-skeleton-loader>
                </td>
                <td>
                    <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
                        {{ rowData.CreatedDate | date :'dd-MMM-yyyy'}}
                    </div>
                    <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
                        animation="pulse">
                    </ngx-skeleton-loader>
                </td>
                <td>
                    <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
                        {{ rowData.ApplicableName }}
                    </div>
                    <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
                        animation="pulse">
                    </ngx-skeleton-loader>
                </td>
                <td>
                    <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
                        <button nbButton outline status="primary" (click)="moveArchived(product)"><nb-icon
                                [icon]="rowData.IsArchived ? 'arrow-back-outline' : 'arrow-forward-outline'"></nb-icon>{{messageArchived}}</button>
                    </div>
                    <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
                        animation="pulse">
                    </ngx-skeleton-loader>
                </td>
                <td>
                    <div [ngClass]="checkListRecord===false ? 'd-none' : 'd-flex border-none'" class=""
                        style="border-width: 0px 0px 0px 0px !important;">
                        <button pButton pRipple icon="pi pi-eye" nbTooltip="View" nbTooltipPlacement="top"
                            class=" p-button-primary  mr-2" (click)="viewLog(product)"></button>
                        <button pButton pRipple icon="pi pi-pencil" nbTooltip="Edit" nbTooltipPlacement="top"
                            class=" p-button-primary  mr-2" (click)="editDetials(product)"></button>
                        <button pButton nbTooltip="Delete" nbTooltipPlacement="top" pRipple icon="pi pi-trash"
                            class=" p-button-primary" (click)="deleteDetails(product)"></button>
                    </div>
                    <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
                        animation="pulse">
                    </ngx-skeleton-loader>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">{{emptymessage}}</td>
            </tr>
        </ng-template>
    </p-table>
</nb-card>