<nb-card class="px-2">
  <nb-card-header class="row align-items-center justify-content-between">
    <div class="col-md-6 col-9 ">
      <h5>All Notifications Details</h5>
    </div>
    <!-- <div class="col-md-6 col-3 d-flex justify-content-end align-items-center">
      <button nbButton (click)="openWithoutBackdrop()" class=" d-md-flex d-none">{{items.formName}}  </button>
      <nb-icon icon="plus" class=" d-md-none d-flex" (click)="openWithoutBackdrop()"></nb-icon>
    </div> -->

  </nb-card-header>
</nb-card>
