<!-- Copy code
<nb-card class="px-3 container" >
  <form [formGroup]="nbForm" (ngSubmit)="submit()">
    <nb-card-header class="row justify-content-between">
      <div>
        <h5>{{formTitle}} Applicable Name</h5>
      </div>
      <div class="col-lg-6 col-md-12 d-flex justify-content-lg-end justify-content-md-center">
        <button type="button" nbButton status="danger" (click)="close()" class="mr-2">Cancel</button>
        <button type="button" nbButton status="basic" (click)="clearform()" type="reset" class="mr-2">Clear Form</button>
        <button type="submit" nbButton status="primary" class="mr-2">Submit</button>
      </div>
    </nb-card-header>
    <nb-card-body class="example-items-rows align-items-center">
      <div class="mb-3 col-lg-6 col-md-12">
        <label for="firstName" class="form-label">Applicable Name<span style="color: red;">*</span></label>
        <input type="text" formControlName="ApplicableName" nbInput fullWidth fieldSize="medium"
          placeholder="Applicable Name"> -->



<!-- 
<nb-card accent="danger" size="tiny" [nbSpinner]="loading"
nbSpinnerStatus="danger"
nbSpinnerSize="large"
nbSpinnerMessage="">
<nb-card-header>Spinners</nb-card-header>
<nb-card-body>
<p>
A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
Originally, nebula was a name for any diffuse astronomical object.
</p>
<button nbButton status="info" size="small" (click)="toggleLoadingAnimation()">Reload</button>

</nb-card-body>
</nb-card>
`,
}) -->
<nb-card class="px-3 container " 
[nbSpinner]="loading" nbSpinnerStatus="primary"
  nbSpinnerSize="large" nbSpinnerMessage=""
  >
  <form [formGroup]="nbForm" (ngSubmit)="submit()">
    <nb-card-header class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-md-5 col-12 mb-3">
        <h5>{{formTitle}} Applicable Name</h5>
      </div>
      <!-- status="info" size="large" -->
      <div
      
        class="col-lg-6 col-md-12 col-sm-12 d-flex justify-content-lg-end justify-content-md-center justify-content-sm-center">
        <button type="button" nbButton status="danger" (click)="close()" class="mr-2">Cancel</button>
        <button type="button" nbButton status="basic" (click)="clearform()" class="mr-2">Clear Form</button>
        <button type="submit" nbButton status="primary"   class="mr-2">Submit</button>
      </div>
    </nb-card-header>
    <nb-card-body class="example-items-rows  align-items-center">
      <div class="mb-3 col-12">
        <label for="firstName" class="form-label">Applicable Name<span style="color: red;">*</span></label>
        <input type="text" formControlName="ApplicableName" nbInput fullWidth fieldSize="medium"
          placeholder="Applicable Name">
        <small
          *ngIf="nbForm.get('ApplicableName')?.invalid && (nbForm.get('ApplicableName')?.touched || nbForm.get('ApplicableName')?.dirty)">
          <nb-hint style="color: red;" *ngIf=" nbForm.get('ApplicableName')?.errors?.['required']">
            Required</nb-hint>
          <nb-hint style="color: red;" *ngIf="  nbForm.get('ApplicableName')?.errors?.['maxlength']">
            Applicable Name should have at most 50 characters</nb-hint>
          <nb-hint style="color: red;"
            *ngIf=" nbForm.get('ApplicableName')?.dirty && nbForm.get('ApplicableName')?.touched && nbForm.get('ApplicableName')?.errors?.['minlength']">Applicable
            Name should have at least 3 characters</nb-hint>
          <nb-hint style="color: red;"
            *ngIf=" nbForm.get('ApplicableName')?.dirty && nbForm.get('ApplicableName')?.touched && nbForm.get('ApplicableName')?.errors?.duplicateValue">Applicable
            Name is duplicate</nb-hint>
        </small>
      </div>
      <div class="mb-3 col-12">
        <label for="firstName" class="form-label">Charterer<span style="color: red;">*</span></label>
        <ng-select class="dropdown-top" [appendTo]="'body'" (keyup)="getDropDownListRecodes(1,100,$event.target.value)"
          fullWidth formControlName="ChartererId" placeholder="Select Charterer Name ">
          <ng-option *ngFor="let option of dropDownCharterer" [value]="option.ChartererId">{{
            option.ChartererName }}</ng-option>
        </ng-select>
        <small
          *ngIf="nbForm.get('ChartererId')?.invalid && (nbForm.get('ChartererId')?.touched || nbForm.get('ChartererId')?.dirty)">
          <nb-hint style="color: red;" *ngIf=" nbForm.get('ChartererId')?.errors?.['required']">Required</nb-hint>
        </small>
      </div>
    </nb-card-body>
  </form>
</nb-card>
<p-toast></p-toast>
