<nb-card class="px-3 container"[nbSpinner]="loading" nbSpinnerStatus="primary"
nbSpinnerSize="large" nbSpinnerMessage="">
    <form [formGroup]="nbForm" (ngSubmit)="submit()">
        <nb-card-header class="row  align-items-center justify-content-between">
            <div>
                <h5>{{formTitle}} Equipment Category Details</h5>
            </div>
            <div>
                <button type="button" nbButton status="danger" (click)="close()" class="mr-2">Cancel</button>
                <button type="button" nbButton status="basic" type="button" (click)="clearForm()" class=" mr-2">Clear Form</button>
                <button type="submit" nbButton status="primary" class=" mr-2">Submit</button>
            </div>
        </nb-card-header>
        <nb-card-body class="example-items-rows">

            <div class="row px-2">
                <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
                    <label for="EquipmentCategoryName" class="form-label">Equipment Category Name<span
                            style="color: red;">*</span></label>
                    <input type="text" id="EquipmentCategoryName" formControlName="EquipmentCategoryName" nbInput
                        fullWidth fieldSize="medium" placeholder="Equipment Category Name">
                    <small
                        *ngIf="nbForm.get('EquipmentCategoryName')?.invalid && (nbForm.get('EquipmentCategoryName')?.touched || nbForm.get('EquipmentCategoryName')?.dirty)">
                        <nb-hint style="color: red;"
                            *ngIf=" nbForm.get('EquipmentCategoryName')?.errors?.['required']">Required</nb-hint>
                        <nb-hint style="color: red;"
                            *ngIf="  nbForm.get('EquipmentCategoryName')?.errors?.['maxlength']">
                            Equipment Category Name should have at most 50 characters</nb-hint>
                        <nb-hint style="color: red;"
                            *ngIf=" nbForm.get('EquipmentCategoryName')?.dirty && nbForm.get('EquipmentCategoryName')?.touched && nbForm.get('EquipmentCategoryName')?.errors?.['minlength']">Equipment Category
                            Name should have at least 3 characters</nb-hint>
                        <nb-hint style="color: red;"
                            *ngIf=" nbForm.get('EquipmentCategoryName')?.dirty && nbForm.get('EquipmentCategoryName')?.touched && nbForm.get('EquipmentCategoryName')?.errors?.duplicateValue">Equipment Category
                            Name is duplicate</nb-hint>

                    </small>
                </div>
                <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
                    <label for="UnitId" class="form-label">Units<span style="color: red;">*</span></label>
                    <ng-select class="dropdown-top"  (keyup)="getDropdownList(1,100,$event.target.value)" [attr.id]="'UnitId'" [appendTo]="'body'" fullWidth
                        formControlName="UnitId" placeholder="Units">
                        <ng-option *ngFor="let option of dropDownUnitlist" [value]="option.UnitId">{{
                            option.UnitName }}</ng-option>
                    </ng-select>

                    <small
                        *ngIf="nbForm.get('UnitId')?.invalid && (nbForm.get('UnitId')?.touched || nbForm.get('UnitId')?.dirty)">
                        <nb-hint style="color: red;" *ngIf=" nbForm.get('UnitId')?.errors?.['required']">
                            Required</nb-hint>


                    </small>
                </div>



                <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
                    <label for="CountriesCovered" class="form-label">Consumption Type<span
                            style="color: red;">*</span></label>
                    <nb-radio-group formControlName="ConsumptionType" class="d-flex" name="reactive-forms-group">
                        <nb-radio value="Consumables">Consumables</nb-radio>
                        <nb-radio value="Hardware">Hardware</nb-radio>

                    </nb-radio-group>

                    <small
                        *ngIf="nbForm.get('ConsumptionType')?.invalid && (nbForm.get('ConsumptionType')?.touched || nbForm.get('ConsumptionType')?.dirty)">
                        <nb-hint style="color: red;"
                            *ngIf=" nbForm.get('ConsumptionType')?.errors?.['required']">
                             Required</nb-hint>


                    </small>
                </div>
                <div class="col-12">
                    <label for="CountriesCovered" class="form-label">Field For this Equipment Category</label>
                    <div>
                        <nb-checkbox  class="mr-2" formControlName="Maker" status="basic">Maker</nb-checkbox>
                        <nb-checkbox class="mr-2" formControlName="DateSupplied" status="basic">Date Supplied</nb-checkbox>
                        <nb-checkbox class="mr-2" formControlName="PortSupplied" status="basic">Port Supplied</nb-checkbox>
                        <nb-checkbox class="mr-2" formControlName="Condition" status="basic">Condition</nb-checkbox>
                        <nb-checkbox class="mr-2" formControlName="DateofExpiry" status="basic">Date of Expiry</nb-checkbox>
                    </div>

                </div>

            </div>

        </nb-card-body>
    </form>

</nb-card>
<p-toast></p-toast>
