<p-toast></p-toast>

<nb-card class="px-3 container" 
[nbSpinner]="loading" nbSpinnerStatus="primary"
nbSpinnerSize="large" nbSpinnerMessage="">    <form [formGroup]="nbForm" (ngSubmit)="submit()">
        <nb-card-header class="row  align-items-center justify-content-between">
            <div>
                <h5>{{formTitle}} Circular Category</h5>
            </div>
            <div>
                <button type="button" nbButton status="danger" (click)="close()" class="mr-2">Cancel</button>
                <button type="button" nbButton status="basic" (click)="clearForm()" lass=" mr-2">Clear Form</button>
                <button type="submit" nbButton status="primary" class=" mr-2">Submit</button>
            </div>
        </nb-card-header>
        <nb-card-body class="example-items-rows">
            <div class=" col">
                <label for="CircularCategoryName" class="form-label">Circular Category Name<span
                        style="color: red;">*</span></label>
                <input type="text" formControlName="CircularCategoryName" nbInput fullWidth fieldSize="medium"
                    placeholder=" Circular Category Name">
                <small
                    *ngIf="nbForm.get('CircularCategoryName')?.invalid && (nbForm.get('CircularCategoryName')?.touched || nbForm.get('CircularCategoryName')?.dirty)">
                    <nb-hint style="color: red;" *ngIf=" nbForm.get('CircularCategoryName')?.errors?.['required']">
                        Required</nb-hint>
                    <nb-hint style="color: red;" *ngIf="  nbForm.get('CircularCategoryName')?.errors?.['maxlength']">
                        Circular Category should have at most 100 characters</nb-hint>
                    <nb-hint style="color: red;"
                        *ngIf=" nbForm.get('CircularCategoryName')?.dirty && nbForm.get('CircularCategoryName')?.touched && nbForm.get('CircularCategoryName')?.errors?.['minlength']">
                        Circular Category should have at least 3 characters</nb-hint>
                    <nb-hint style="color: red;"
                        *ngIf=" nbForm.get('CircularCategoryName')?.dirty && nbForm.get('CircularCategoryName')?.touched && nbForm.get('CircularCategoryName')?.errors?.duplicateValue">
                        Circular Category
                        is duplicate</nb-hint>
                </small>
            </div>
        </nb-card-body>
    </form>
</nb-card>
