<nb-card class="px-2">
  <nb-card-header class="row align-items-center justify-content-center">
    <div class="col-md-6 text-start">
      <h5 style="font-weight: 600">Cargo Wise Analysis ({{ viewListTable === "amount" ? "$" : "%" }})</h5>
    </div>
    <div class="col-md-6 text-right">
      <button nbButton status="danger" type="reset" (click)="resetForm()" class="mr-2">Reset</button>
      <button type="button" nbButton status="primary" (click)="searchFilter()" type="button"
        class=" mr-2">Search</button>
    </div>
    <!-- <div class="col-md-12 pr-0 row p-0 m-0 justify-content-end "> -->
    <!-- <div class="col-6 p-1">
          <ng-select class="dropdown-top" [(ngModel)]="analysisType" class="fixed-dropdown-size" (change)="getFormValue()"
            [appendTo]="'body'" placeholder="Select Status" fullWidth fieldSize="medium">
            <ng-option value="MTD">Monthly Analysis</ng-option>
            <ng-option value="QTD">Quaterly Analysis</ng-option>
          </ng-select>
        </div> -->
    <form [formGroup]="nbForm" class="col-md-12 mt-3 row p-0 justify-content-center">
      <div class="col-md-12 mt-3 row p-0 justify-content-center">
        <div class="p-1" class="col p-0 px-1 my-1">

          <ng-select [items]="vesselListDropDown" (change)="selectAll('VesselListIds',vesselListDropDown,'one',7,1)"
            [clearSearchOnAdd]="true" [closeOnSelect]="false" labelForId="state" [multiple]="true"
            placeholder="Select Vessel Name" clearAllText="unselectAll('VesselListIds')" formControlName="VesselListIds"
            [bindLabel]="'VesselName'">
            <ng-template ng-header-tmp>
              <button size="tiny" nbButton (click)="selectAll('VesselListIds',vesselListDropDown,'all',7,1)"
                status="basic" class="btn btn-sm mr-2">Select all</button>
              <button size="tiny" nbButton (click)="unselectAll('VesselListIds')" status="basic"
                class="btn btn-sm ">Unselect all</button>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <div class="row">
                <input id="item-{{index}}" class="mr-2" type="checkbox" [ngModel]="item$.selected"
                  [ngModelOptions]="{standalone: true}" />
                {{item['VesselName']}}
              </div>
            </ng-template>
            <ng-template ng-multi-label-tmp let-items="items">
              <div class="ng-value" *ngFor="let item of items | slice:0:1">
                {{item['VesselName']}}
              </div>
              <div class="ng-value" *ngIf="items.length > 1">
                <span class="ng-value-label">{{items.length - 1}} more...</span>
              </div>
            </ng-template>
          </ng-select>


        </div>
        <div class="p-1" class="col p-0 px-1 my-1">
          <input nbInput placeholder="Date Range" (keydown)="dateFilter($event, 'commence')" fullWidth
            formControlName="DateCommenceRangeControl" [nbDatepicker]="commencePicker" />
          <nb-rangepicker #commencePicker (rangeChange)="dateFilter($event, 'commence')"></nb-rangepicker>
          <!-- <p-calendar  formControlName="VoyageCommenceDate" view="month" (ngModelChange)="getFormValue()" dateFormat="mm/yy" placeholder="Voyage Commence Date" [readonlyInput]="true"></p-calendar> -->
          <!-- <nb-calendar [(date)]="date" [boundingMonth]="true"></nb-calendar> -->
        </div>
        <div class="p-1" class="col p-0 px-1 my-1">
          <ng-select (change)="selectNameAll('CargoToLoadsListIds',portListDropDown?.CargoToLoads,'one',7,1)"
            [items]="portListDropDown?.CargoToLoads" [clearSearchOnAdd]="true" [closeOnSelect]="false"
            labelForId="state" [multiple]="true" placeholder="Select Cargo To Load" clearAllText="Clear"
            formControlName="CargoToLoadsListIds" [bindLabel]="'CargoToLoad'">
            <ng-template ng-header-tmp>
              <button size="tiny" nbButton
                (click)="selectNameAll('CargoToLoadsListIds',portListDropDown?.CargoToLoads,'all',7,1)" status="basic"
                class="btn btn-sm mr-2">Select all</button>
              <button size="tiny" nbButton (click)="unselectAll('CargoToLoadsListIds')" status="basic"
                class="btn btn-sm ">Unselect all</button>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <div class="row">
                <input id="item-{{index}}" class="mr-2" type="checkbox" [ngModel]="item$.selected"
                  [ngModelOptions]="{standalone: true}" />
                {{item['CargoToLoad']}}
              </div>
            </ng-template>
            <ng-template ng-multi-label-tmp let-items="items">
              <div class="ng-value" *ngFor="let item of items | slice:0:1">
                {{item['CargoToLoad']}}
              </div>
              <div class="ng-value" *ngIf="items.length > 1">
                <span class="ng-value-label">{{items.length - 1}} more...</span>
              </div>
            </ng-template>
          </ng-select>
        </div>








        <div class="p-1" class="col p-0 px-1 my-1">
          <ng-select (change)="selectNameAll('LoadToPortsListIds',portListDropDown?.LoadToPorts,'one',7,1)"
            [items]="portListDropDown?.LoadToPorts" [clearSearchOnAdd]="true" [closeOnSelect]="false" labelForId="state"
            [multiple]="true" placeholder="Select Load Port" clearAllText="Clear" formControlName="LoadToPortsListIds"
            [bindLabel]="'LoadtoPort'">
            <ng-template ng-header-tmp>
              <button size="tiny" nbButton
                (click)="selectNameAll('LoadToPortsListIds',portListDropDown?.LoadToPorts,'all',7,1)" status="basic"
                class="btn btn-sm mr-2">Select all</button>
              <button size="tiny" nbButton (click)="unselectAll('LoadToPortsListIds')" status="basic"
                class="btn btn-sm ">Unselect all</button>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <div class="row">
                <input id="item-{{index}}" class="mr-2" type="checkbox" [ngModel]="item$.selected"
                  [ngModelOptions]="{standalone: true}" />
                {{item['LoadToPort']}}
              </div>
            </ng-template>
            <ng-template ng-multi-label-tmp let-items="items">
              <div class="ng-value" *ngFor="let item of items | slice:0:1">
                {{item['LoadToPort']}}
              </div>
              <div class="ng-value" *ngIf="items.length > 1">
                <span class="ng-value-label">{{items.length - 1}} more...</span>
              </div>
            </ng-template>
          </ng-select>
        </div>
        <div class="p-1" class="col p-0 px-1 my-1">
          <ng-select [items]="MURListDropDown?.HoldPassList"
            (change)="selectAll('HoldPassListIds',MURListDropDown?.HoldPassList,'one',7,1)"
            [clearSearchOnAdd]="true" [closeOnSelect]="false" labelForId="state" [multiple]="true"
            placeholder="Select Hold/Pass" clearAllText="Clear" formControlName="HoldPassListIds"
            [bindLabel]="'StatusName'">
            <ng-template ng-header-tmp>
              <button size="tiny" nbButton
                (click)="selectAll('HoldPassListIds',MURListDropDown?.HoldPassList,'all',7,1)"
                status="basic" class="btn btn-sm mr-2">Select all</button>
              <button size="tiny" nbButton (click)="unselectAll('HoldPassListIds')" status="basic"
                class="btn btn-sm ">Unselect all</button>
            </ng-template>
            <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
              <div class="row">
                <input id="item-{{index}}" class="mr-2" type="checkbox" [ngModel]="item$.selected"
                  [ngModelOptions]="{standalone: true}" />
                {{item['HoldPassName']}}
              </div>
            </ng-template>
            <ng-template ng-multi-label-tmp let-items="items">
              <div class="ng-value" *ngFor="let item of items | slice:0:1">
                {{item['HoldPassName']}}
              </div>
              <div class="ng-value" *ngIf="items.length > 1">
                <span class="ng-value-label">{{items.length - 1}} more...</span>
              </div>
            </ng-template>
          </ng-select>
        </div>
        <!--  -->
      </div>
    </form>
    <!-- </div> -->
  </nb-card-header>
</nb-card>


<nb-card>
  <nb-card-body id="barChart" style="height: 30vh">
    <div class="row justify-content-between align-content-center">
      <h6 class="my-3 col-9" style="font-weight: 600">
        Load Port ({{ viewListTable === "amount" ? "$" : "%" }})
      </h6>
      <div class="my-3 col-3" style="font-weight: 600">
        <nb-radio-group class="d-flex justify-content-end"  (ngModelChange)="getFormValue()"  [(ngModel)]="viewListTable">
          <nb-radio *ngFor="let option of options" [value]="option.value">
            {{ option.label }}
          </nb-radio>
        </nb-radio-group>
        <!-- <nb-radio-group
            class="d-flex justify-content-end"
            [(ngModel)]="viewListTable"
          >
            <nb-radio *ngFor="let option of options" [value]="option.value">
              {{ option.label }}
            </nb-radio>
          </nb-radio-group> -->
      </div>
    </div>
    <chart type="bar" [data]="data" [options]="chartOptions"></chart> <br>
    <h6 class="my-3" style="font-weight: 600">
      Cargo To Load ({{ viewListTable === "amount" ? "$" : "%" }})
    </h6>
    <chart type="bar" [data]="cargoData" [options]="chartOptions"></chart>
    <!-- <ngx-chartjs-line></ngx-chartjs-line> -->
  </nb-card-body>
</nb-card>

<nb-card>
  <nb-card-body class="mb-4">
    <div class="row justify-content-between">
      <div class="col-6">

        <p-table [value]="cargoWiseDetails?.VesselDetails"  class="p-datatable p-component p-datatable-sm" rowGroupMode="rowspan" groupRowsBy="VesselName"
          sortField="VesselName" sortMode="single" [tableStyle]="{'min-width': '35rem'}">
          <ng-template pTemplate="header">
            <tr>
              <th class="text-start" colspan="3">
                Grand Total
                <!-- <p-sortIcon field="ActualSum"></p-sortIcon> -->
              </th>
              <th class="text-center" colspan="1">
                {{viewListTable==='amount'? cargoWiseDetails?.GrandTotalCountOfLoadToPort :
                cargoWiseDetails?.GrandTotalPercentageOfLoadToPort +'%'}}
                <!-- <p-sortIcon field="Difference"></p-sortIcon> -->
              </th>
            </tr>
            <tr>
              <th>Vessel Name</th>
              <th>Load To Port</th>
              <th>Cargo To Load</th>
              <th *ngIf="viewListTable==='amount'">Count of Load Port</th>
              <th *ngIf="viewListTable!=='amount'">Percentage of Load Port</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex" let-rowgroup="rowgroup"
            let-rowspan="rowspan">
            <tr>

              <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                {{customer.VesselName}}
              </td>
              <td>
                {{customer.LoadToPort}}
              </td>
              <td>
                {{customer.CargoToLoad}}
              </td>
              <td *ngIf="viewListTable==='amount'">
                {{customer.CountOfLoadToPort}}
              </td>

              <td *ngIf="viewListTable!=='amount'">
                {{customer.PercentageOfLoadToPort}}%
              </td>
            </tr>
          </ng-template>
        </p-table>

      </div>
      <div class="col-6">

        <p-table [value]="cargoWiseDetails?.CargoToLoad"  class="p-datatable p-component p-datatable-sm" rowGroupMode="rowspan" groupRowsBy="CargoToLoad"
          sortField="CargoToLoad" sortMode="single" [tableStyle]="{'min-width': '35rem'}">
          <ng-template pTemplate="header">
            <tr>
              <th class="text-start" colspan="2">
                Grand Total
                <!-- <p-sortIcon field="ActualSum"></p-sortIcon> -->
              </th>
              <th class="text-center" colspan="1">
                {{viewListTable==='amount'? cargoWiseDetails?.GrandTotalFailCount
                :cargoWiseDetails?.GrandTotalPercentageOfFail + '%'}}
                <!-- <p-sortIcon field="Difference"></p-sortIcon> -->
              </th>
              <th class="text-center" colspan="1">
                {{viewListTable==='amount'? cargoWiseDetails?.GrandTotalPassCount
                :cargoWiseDetails?.GrandTotalPercentageOfPass + '%'}}
                <!-- <p-sortIcon field="Difference"></p-sortIcon> -->
              </th>
              <th class="text-center" colspan="1">
                {{viewListTable==='amount'? cargoWiseDetails?.GrandTotalTBCCount
                :cargoWiseDetails?.GrandTotalPercentageOfTBC + '%'}}
                <!-- <p-sortIcon field="Difference"></p-sortIcon> -->
              </th>
            </tr>
            <tr>
              <th>Cargo To Load</th>
              <th>Load Port</th>
              <th *ngIf="viewListTable==='amount'">Fail</th>
              <th *ngIf="viewListTable!=='amount'">Fail (%)</th>
              <th *ngIf="viewListTable==='amount'">Count Pass</th>
              <th *ngIf="viewListTable!=='amount'">Pass (%)</th>
              <th *ngIf="viewListTable==='amount'">Count TBC</th>
              <th *ngIf="viewListTable!=='amount'">TBC(%)</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-customer let-rowIndex="rowIndex" let-rowgroup="rowgroup"
            let-rowspan="rowspan">
            <tr>

              <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                {{customer.CargoToLoad}}
              </td>
              <td>
                {{customer.LoadToPort}}
              </td>

              <td *ngIf="viewListTable==='amount'">
                {{customer.FailCount}}
              </td>

              <td *ngIf="viewListTable!=='amount'">
                {{customer.PercentageOfFail}} %
              </td>
              <td *ngIf="viewListTable==='amount'">
                {{customer.PassCount}}
              </td>

              <td *ngIf="viewListTable!=='amount'">
                {{customer.PercentageOfPass}} %
              </td>
              <td *ngIf="viewListTable==='amount'">
                {{customer.TBCCount}}
              </td>

              <td *ngIf="viewListTable!=='amount'">
                {{customer.PercentageOfTBC}} %
              </td>
            </tr>
          </ng-template>
        </p-table>

      </div>
    </div>
  </nb-card-body>
</nb-card>