<p-toast></p-toast>
<nb-card class="px-3 container" 
[nbSpinner]="loading" nbSpinnerStatus="primary"
nbSpinnerSize="large" nbSpinnerMessage="">
    <form [formGroup]="nbForm" (ngSubmit)="submit()">
        <nb-card-header class="row  align-items-center justify-content-between">
            <div>
                <h5>{{formTitle}} Shore Cleaning Gang Details</h5>
            </div>
            <div>
                <button type="button" nbButton status="danger" (click)="close()" class="mr-2">Cancel</button>
                <button type="button" nbButton status="basic" type="reset" class=" mr-2">Clear Form</button>
                <button type="submit" nbButton status="primary" class=" mr-2">Submit</button>
            </div>
        </nb-card-header>
        <nb-card-body class="example-items-rows">

            <div class="row px-2">
                <div class="mb-3 col-6">
                    <label for="ShoreCleaningGangCompanyName" class="form-label">Shore Cleaning Gang Company
                        Name<span style="color: red;">*</span></label>
                    <input type="text" formControlName="ShoreCleaningGangCompanyName" nbInput fullWidth
                        fieldSize="medium" placeholder=" Company Name">
                        <small
                        *ngIf="nbForm.get('ShoreCleaningGangCompanyName')?.invalid && (nbForm.get('ShoreCleaningGangCompanyName')?.touched || nbForm.get('ShoreCleaningGangCompanyName')?.dirty)">
                        <nb-hint style="color: red;" *ngIf=" nbForm.get('ShoreCleaningGangCompanyName')?.errors?.['required']">
                            Required</nb-hint>
                        <nb-hint style="color: red;" *ngIf="  nbForm.get('ShoreCleaningGangCompanyName')?.errors?.['maxlength']">
                            Cleaning Gang Company should have at most 50 characters</nb-hint>
                        <nb-hint style="color: red;"
                            *ngIf=" nbForm.get('ShoreCleaningGangCompanyName')?.dirty && nbForm.get('ShoreCleaningGangCompanyName')?.touched && nbForm.get('ShoreCleaningGangCompanyName')?.errors?.['minlength']">
                            Cleaning Gang Company should have at least 3 characters</nb-hint>
                            <nb-hint style="color: red;"
                            *ngIf=" nbForm.get('ShoreCleaningGangCompanyName')?.dirty && nbForm.get('ShoreCleaningGangCompanyName')?.touched && nbForm.get('ShoreCleaningGangCompanyName')?.errors?.duplicateValue">Shore Cleaning Gang Company Name
                             is duplicate</nb-hint>

                    </small>
                </div>

                <div class="mb-3 col-6">
                    <label for="CountryId" class="form-label">Country Located In<span
                            style="color: red;">*</span></label>
                    <!-- <nb-select formControlName="CountryId" placeholder="Country located in" fullWidth
                        fieldSize="medium">
                        <nb-option *ngFor="let option of dropDownCountrylist" [value]="option.CountryId">
                            {{ option.CountryName}}</nb-option>
                    </nb-select> -->
                    <ng-select  fullWidth  (keyup)="getCountryListRecords(1,100,$event.target.value)"  formControlName="CountryId"  placeholder="Country located in">

                        <ng-option *ngFor="let option of dropDownCountrylist" [value]="option.CountryId">{{
                            option.CountryName }}</ng-option>

                    </ng-select>

                    <small
                        *ngIf="nbForm.get('CountryId')?.invalid && (nbForm.get('CountryId')?.touched || nbForm.get('CountryId')?.dirty)">
                        <nb-hint style="color: red;" *ngIf=" nbForm.get('CountryId')?.errors?.['required']">Required</nb-hint>


                    </small>
                </div>



                <div class=" col-12 mb-3">
                    <label for="CountriesCovered" class="form-label">Countries Covered<span
                            style="color: red;">*</span></label>

                    <ng-select [multiple]="true" (keyup)="getCountryListRecords(1,100,$event.target.value)"  fullWidth  formControlName="CountriesCovered1"  placeholder="Select Countries Covered">
                        <ng-option *ngFor="let option of dropDownCountrylist" [value]="option.CountryName">{{
                            option.CountryName }}</ng-option>

                    </ng-select>
                    <small
                        *ngIf="nbForm.get('CountriesCovered1')?.invalid && (nbForm.get('CountriesCovered1')?.touched || nbForm.get('CountriesCovered1')?.dirty)">
                        <nb-hint style="color: red;" *ngIf=" nbForm.get('CountriesCovered1')?.errors?.['required']">Required</nb-hint>

                    </small>




                </div>

                <div class="mb-3 col-6">
                    <label for="PICName" class="form-label">PIC Name<span style="color: red;">*</span></label>
                    <input type="text" formControlName="PICName" nbInput fullWidth fieldSize="medium"
                        placeholder=" PIC Name">

                        <small
                        *ngIf="nbForm.get('PICName')?.invalid && (nbForm.get('PICName')?.touched || nbForm.get('PICName')?.dirty)">
                        <nb-hint style="color: red;" *ngIf=" nbForm.get('PICName')?.errors?.['required']">
                            Required</nb-hint>
                        <nb-hint style="color: red;" *ngIf="  nbForm.get('PICName')?.errors?.['maxlength']">
                            PIC Name should have at most 50 characters</nb-hint>
                        <nb-hint style="color: red;"
                            *ngIf=" nbForm.get('PICName')?.dirty && nbForm.get('PICName')?.touched && nbForm.get('PICName')?.errors?.['minlength']">
                            PIC Name should have at least 3 characters</nb-hint>


                    </small>
                </div>
                <div class="mb-3 col-6">
                    <label for="PICPrimaryEmail" class="form-label">PIC Primary Email<span style="color: red;">*</span></label>
                    <input type="email" formControlName="PICPrimaryEmail" nbInput fullWidth fieldSize="medium"
                        placeholder=" PIC Primary Email" nbEmailValidator>
                        <small
                        *ngIf="nbForm.get('PICPrimaryEmail')?.invalid && (nbForm.get('PICPrimaryEmail')?.touched || nbForm.get('PICPrimaryEmail')?.dirty)">
                        <nb-hint style="color: red;" *ngIf=" nbForm.get('PICPrimaryEmail')?.errors?.['required']">
                            Required</nb-hint>

                       <nb-hint style="color: red;" *ngIf=" nbForm.get('PICPrimaryEmail')?.touched && nbForm.get('PICPrimaryEmail')?.errors?.['email']">
                            Please enter a valid email address.</nb-hint>
                    </small>

                </div>

                <div class="mb-3 col-12">
                    <label for="PICSecondaryEmail" class="form-label">PIC Secondary Email</label>
                    <input type="email" formControlName="PICSecondaryEmail" nbInput fullWidth fieldSize="medium"
                        placeholder="abc@gmail.com,ab@gmail.com">

                                <small
                        *ngIf="nbForm.get('PICSecondaryEmail')?.invalid && (nbForm.get('PICSecondaryEmail')?.touched || nbForm.get('PICSecondaryEmail')?.dirty)">


                       <nb-hint style="color: red;" *ngIf="nbForm.get('PICSecondaryEmail')?.touched &&  nbForm.get('PICSecondaryEmail')?.errors?.['email']">
                            Please enter a valid email address.</nb-hint>
                    </small>

                </div>


                <div class="mb-3 col-6">
                    <label for="PICPrimaryPhone" class="form-label">PIC Primary Phone<span style="color: red;">*</span></label>
                    <input type="number" formControlName="PICPrimaryPhone" nbInput fullWidth fieldSize="medium"
                    placeholder=" PIC Primary Phone">
                        <small
                        *ngIf="nbForm.get('PICPrimaryPhone')?.invalid && (nbForm.get('PICPrimaryPhone')?.touched || nbForm.get('PICPrimaryPhone')?.dirty)">
                        <nb-hint style="color: red;" *ngIf=" nbForm.get('PICPrimaryPhone')?.errors?.['required']">
                            Required</nb-hint>
                            <nb-hint style="color: red;" *ngIf="nbForm.get('PICPrimaryPhone')?.touched  && nbForm.get('PICPrimaryPhone')?.errors?.['pattern']">
                                PIC Primary Phone must have 10 digits</nb-hint>
                    </small>
                </div>
                <div class="mb-3 col-6">
                    <label for="PICSecondaryPhone" class="form-label">PIC Secondary Phone</label>
                    <input type="text" formControlName="PICSecondaryPhone" nbInput fullWidth fieldSize="medium"
                    placeholder="0000000000,0000000000,0000000000" >
                </div>

            </div>



        </nb-card-body>
    </form>
</nb-card>

