<p-toast></p-toast>
<nb-card class="px-3 container" 
[nbSpinner]="loading" nbSpinnerStatus="primary"
nbSpinnerSize="large" nbSpinnerMessage="">
    <form [formGroup]="nbForm" (ngSubmit)="submit()">
        <nb-card-header class="row  align-items-center justify-content-between">
            <div>
                <h5>{{formTitle}} Opr Type</h5>
            </div>
            <div>
                <button type="button" nbButton status="danger" (click)="close()" class="mr-2">Cancel</button>
                <button type="button" nbButton status="basic" type="reset" class=" mr-2">Clear Form</button>
                <button type="submit" nbButton status="primary" class=" mr-2">Submit</button>
            </div>
        </nb-card-header>
        <nb-card-body class="example-items-rows">

                <div class=" col">
                    <label for="OprTypeNameName" class="form-label">Opr Type<span style="color: red;">*</span></label>
                    <input type="text" formControlName="OprTypeName" nbInput fullWidth fieldSize="medium" placeholder=" Opr Type">
                    <small
                    *ngIf="nbForm.get('OprTypeName')?.invalid && (nbForm.get('OprTypeName')?.touched || nbForm.get('OprTypeName')?.dirty)">
                    <nb-hint style="color: red;" *ngIf=" nbForm.get('OprTypeName')?.errors?.['required']">
                        Required</nb-hint>
                    <nb-hint style="color: red;" *ngIf="  nbForm.get('OprTypeName')?.errors?.['maxlength']">
                        Opr Type Name  should have at most 50 characters</nb-hint>
                    <nb-hint style="color: red;"
                        *ngIf=" nbForm.get('OprTypeName')?.dirty && nbForm.get('OprTypeName')?.touched && nbForm.get('OprTypeName')?.errors?.['minlength']">
                        Opr Type Name have at least 3 characters</nb-hint>
                    <nb-hint style="color: red;"
                        *ngIf=" nbForm.get('OprTypeName')?.dirty && nbForm.get('OprTypeName')?.touched && nbForm.get('OprTypeName')?.errors?.duplicateValue">
                        Opr Type  is duplicate</nb-hint>

                </small>
                </div>


        </nb-card-body>
    </form>
</nb-card>
