<p-toast></p-toast>
<nb-card class="px-3 container" 
[nbSpinner]="loading" nbSpinnerStatus="primary"
nbSpinnerSize="large" nbSpinnerMessage="">
    <form [formGroup]="nbForm" (ngSubmit)="submit()">
        <nb-card-header class="row justify-content-between">
            <div>
                <h5>{{formTitle}} Maker Name</h5>
            </div>
            <div>
                <button type="button" nbButton status="danger" (click)="close()" class="mr-2">Cancel</button>
                <button type="button" nbButton status="basic" (click)="clearForm()"  class=" mr-2">Clear Form</button>
                <button type="submit" nbButton status="primary" class=" mr-2">Submit</button>
            </div>
        </nb-card-header>
        <nb-card-body class="example-items-rows row">

                <div class=" col-6 mb-3">
                    <label for="firstName" class="form-label">Equipment Category<span style="color: red;">*</span></label>
                    <ng-select class="dropdown-top" [attr.id]="'EquipmentCategoryId'" (change)="getEquipmentCategoryRecords()" (keyup)="getEquipmentCategoryRecords()" [appendTo]="'body'"  fullWidth   formControlName="EquipmentCategoryId"  placeholder="Select Equipment Category">

                        <ng-option *ngFor="let option of dropDownEquipmentCategorylist" [value]="option.EquipmentCategoryId">{{
                            option.EquipmentCategoryName }}</ng-option>

                    </ng-select>
                  
                    <small
                    *ngIf="nbForm.get('EquipmentCategoryId')?.invalid && (nbForm.get('EquipmentCategoryId')?.touched || nbForm.get('EquipmentCategoryId')?.dirty)">
                    <nb-hint style="color: red;" *ngIf=" nbForm.get('EquipmentCategoryId')?.errors?.['required']">
                        Required</nb-hint>
                 


                </small>
               
                </div>
                <div class=" col-6 mb-3">
                    <label for="firstName" class="form-label">Equipment<span style="color: red;">*</span></label>
                    <ng-select class="dropdown-top" [attr.id]="'EquipmentId'"  (keyup)="getEquipmentCategoryRecords()" [appendTo]="'body'"  fullWidth   formControlName="EquipmentId"  placeholder="Select Equipment Category">

                        <ng-option *ngFor="let option of dropDownEquipmentlist" [value]="option.EquipmentId">{{
                            option.EquipmentName }}</ng-option>

                    </ng-select>
                   
                    <small
                    *ngIf="nbForm.get('EquipmentId')?.invalid && (nbForm.get('EquipmentId')?.touched || nbForm.get('EquipmentId')?.dirty)">
                    <nb-hint style="color: red;" *ngIf=" nbForm.get('EquipmentId')?.errors?.['required']">
                        Required</nb-hint>

                </small>
              
                </div>
                <div class=" col">
                    <label for="firstName" class="form-label">Maker Name<span style="color: red;">*</span></label>
                    <input type="text"  formControlName="MakerName" nbInput fullWidth fieldSize="medium" placeholder=" Maker Name">
                    <small
                    *ngIf="nbForm.get('MakerName')?.invalid && (nbForm.get('MakerName')?.touched || nbForm.get('MakerName')?.dirty)">
                    <nb-hint style="color: red;" *ngIf=" nbForm.get('MakerName')?.errors?.['required']">
                        Required</nb-hint>
                    <nb-hint style="color: red;" *ngIf="  nbForm.get('MakerName')?.errors?.['maxlength']">
                        Maker Name should have at most 50 characters</nb-hint>
                    <nb-hint style="color: red;"
                        *ngIf=" nbForm.get('MakerName')?.dirty && nbForm.get('MakerName')?.touched && nbForm.get('MakerName')?.errors?.['minlength']">Maker
                        Name should have at least 3 characters</nb-hint>
                    <nb-hint style="color: red;"
                        *ngIf=" nbForm.get('MakerName')?.dirty && nbForm.get('MakerName')?.touched && nbForm.get('MakerName')?.errors?.duplicateValue">Maker
                        Name is duplicate</nb-hint>


                </small>
                <!-- <div *ngIf="nbForm.get('MakerName').errors.duplicate">
                    Duplicate MakerName Please enter a different name.
                  </div> -->
                </div>


        </nb-card-body>
    </form>
</nb-card>
