  <nb-card class="px-2">
    <nb-card-header class="row align-items-center justify-content-between">
      <div class="col-md-6 col-9 ">
        <h5>Shore Cleaning Gang Management</h5>
      </div>
      <div class="col-md-6 col-3 d-flex justify-content-end align-items-center">
        <button nbButton (click)="openWithoutBackdrop()" class=" d-md-flex d-none">Add Shore Cleaning  </button>
        <nb-icon icon="plus" class=" d-md-none d-flex" (click)="openWithoutBackdrop()"></nb-icon>
      </div>
    
    </nb-card-header>
  </nb-card>

  <nb-card class=" mt-4">
    <nb-card-body>
      <div class="row  p-3 justify-content-end align-items-center">
  
        <div class="col-3 p-0 text-right"><input type="text" fullWidth (keyup)="filterBy($event)" placeholder="Search By Shore Cleaning Name"
            nbInput [(ngModel)]="filterTableValue" /></div>
      </div>    <p-table
    #dt1
    [value]="shoreCleaning"
  dataKey="id"
  [rows]="5"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
  [globalFilterFields]="['ShoreCleaningGangCompanyName', 'CountryName', 'CountriesCovered']"
  [tableStyle]="{ 'min-width': '50rem' }"
   >




      <!-- <ng-template pTemplate="header" let-columns>
        <tr>

          <th *ngFor="let col of columns" pReorderableColumn  [pSortableColumn]="[col.field]">
            {{ col.header }} <p-sortIcon [field]="[col.field]"></p-sortIcon>
          </th>
          <th style="width: 10%;">Action</th>
        </tr>
      </ng-template> -->


      <ng-template pTemplate="header" let-columns>
        <tr>
          <th  pSortableColumn="ShoreCleaningGangCompanyName">
            Shore Cleaning Gang Company Name <p-sortIcon field="ShoreCleaningGangCompanyName" ></p-sortIcon>


          </th>
          <th  pSortableColumn="PICPrimaryEmail">
            PIC Email & Phone <p-sortIcon field="PICPrimaryEmail"></p-sortIcon>
          </th>
          <th  pSortableColumn="CountryName">
            Country located in<p-sortIcon field="CountryName"></p-sortIcon>
          </th>
          <th  pSortableColumn="CountriesCovered">
            Countries Covered <p-sortIcon field="CountriesCovered"></p-sortIcon>
          </th>


          <th style="width: 10%;">Action</th>
        </tr>
      </ng-template>


      <!-- <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex" let-product
        let-editing="editing">
        <tr [pReorderableRow]="index" [pEditableRow]="product">
          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
          <td class="d-flex"  style="border-width: 0px 0px 0px 0px !important;">
            <button pButton pRipple icon="pi pi-pencil" class=" p-button-primary  mr-2"
              (click)="editDetails(product)"  (click)="openWithoutBackdrop()" nbTooltip="Edit" nbTooltipPlacement="top"></button>
            <button pButton pRipple icon="pi pi-trash" class=" p-button-primary"
              (click)="deleteDetails(product)" nbTooltip="Delete" nbTooltipPlacement="top"></button>

          </td>
        </tr>
      </ng-template> -->


      <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex" let-product
      let-editing="editing">
      <tr [pReorderableRow]="index" [pEditableRow]="product">

        <td >
          <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
            {{ rowData.ShoreCleaningGangCompanyName }}
          </div>
          <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
            animation="pulse">
          </ngx-skeleton-loader>


        </td>
        <td >
          <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
            {{ rowData.PICPrimaryEmail }} | {{rowData.PICPrimaryPhone}}
          </div>
          <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
            animation="pulse">
          </ngx-skeleton-loader>


        </td>

        <td >
          <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
            {{ rowData.CountryName }}
          </div>
          <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
            animation="pulse">
          </ngx-skeleton-loader>


        </td>
        <td >
          <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
            {{ rowData.CountriesCovered }}
          </div>
          <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
            animation="pulse">
          </ngx-skeleton-loader>


        </td>
        <td>
          <div [ngClass]="checkListRecord===false ? 'd-none' : 'd-flex border-none'" class=""
              style="border-width: 0px 0px 0px 0px !important;">
              <button pButton pRipple icon="pi pi-pencil" nbTooltip="Edit" nbTooltipPlacement="top"
                  class=" p-button-primary  mr-2" (click)="editDetails(product)"></button>
              <button pButton nbTooltip="Delete" nbTooltipPlacement="top" pRipple icon="pi pi-trash"
                  class=" p-button-primary" (click)="deleteDetails(product)"></button>
          </div>
          <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
              animation="pulse">
          </ngx-skeleton-loader>
      </td>
      </tr>
    </ng-template>





      <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="7">{{emptymessage}}</td>
        </tr>
    </ng-template>
    </p-table>
    <div *ngIf="countValue !== 0" class="row align-items-center justify-content-center ">
      <span
        style="color: --card-text-color; font-family: Poppins, sans-serif; font-weight: normal; font-size: 0.8125rem;">Showing
        {{firstCount}} to {{nextCount}} of {{totalCount}} entries</span>
      <p-paginator [rows]="selectedRows" [totalRecords]="totalCount" (onPageChange)="paginate($event)"></p-paginator>
      <nb-select placeholder="" (selectedChange)="getChangeRows($event)" [(selected)]="selectedRows">
        <nb-option value="25">25</nb-option>
        <nb-option value="50">50</nb-option>
        <nb-option value="100">100</nb-option>
      </nb-select>
    </div>
  </nb-card-body>
</nb-card>



  <!--
    <nb-card class="px-2">
    <nb-card-header class="row align-items-center justify-content-between">
      <div>
        <h5>SHA Management</h5>
      </div>
      <div>
        <button nbButton (click)="openWithoutBackdrop()">Add SHA</button>
      </div>
    </nb-card-header>
  </nb-card>

  <div class="card mt-4">
    <p-table
      #dt1
      [value]="SHA"
    dataKey="id"
    [rows]="5"
    [showCurrentPageReport]="true"
    [loading]="loading"
    [paginator]="true"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [globalFilterFields]="['SHAName', 'CountryId', 'CountriesCovered']"
    [tableStyle]="{ 'min-width': '50rem' }"

   >

      <ng-template pTemplate="caption">
        <div class="d-flex">
            <span class=" ml-auto">
              <input  type="text"  nbInput (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />

          </span>
      </div>
    </ng-template>



    <ng-template pTemplate="header" let-columns>
      <tr>
        <th  pSortableColumn="SHAName">
          SHA Name <p-sortIcon field="SHAName" ></p-sortIcon>


        </th>
        <th  pSortableColumn="CountryId">
          Country Located In <p-sortIcon field="CountryId"></p-sortIcon>
        </th>
        <th  pSortableColumn="CountriesCovered">
          Countries Coverd <p-sortIcon field="CountriesCovered"></p-sortIcon>
        </th>

        <th style="width: 10%;">Action</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex" let-product
      let-editing="editing">
      <tr [pReorderableRow]="index" [pEditableRow]="product">

        <td >
          {{ rowData.SHAName }}
        </td>
        <td >
          {{ rowData.CountryName }}
        </td>
        <td >
          {{ rowData.CountriesCovered }}
        </td>


        <td class="d-flex"  style="border-width: 0px 0px 0px 0px !important;">
          <button pButton pRipple icon="pi pi-pencil" class=" p-button-primary  mr-2"
            (click)="editDetails(product)"></button>
          <button pButton pRipple icon="pi pi-trash" class=" p-button-primary"
            (click)="deleteDetails(product)"></button>

        </td>
      </tr>
    </ng-template>






    <ng-template pTemplate="emptymessage">
      <tr>
          <td colspan="7">{{emptymessage}}</td>
      </tr>
  </ng-template>
  </p-table>
</div>


   -->
   <p-toast></p-toast>
