<nb-card class="px-2">
    <nb-card-header class="row align-items-center justify-content-between">
        <div>
            <h5>Requisition Management</h5>
        </div>
        <div class="d-flex justify-content-between">

        </div>
        <div>
            <button nbButton (click)="openWithoutBackdrop()">Add Requisition</button>
        </div>
    </nb-card-header>
    <div class="d-flex  justify-content-between py-3">
      <div>
          <button nbButton [status]="activeIndex === 0 ? 'primary' : 'control'"
              [ngClass]="activeIndex===0?'':'button-table'" class="mr-2" (click)="changeStatusList('NewOrder')"
              label="">New Order</button>
          <button nbButton [status]="activeIndex === 1 ? 'primary' : 'control'"
              [ngClass]="activeIndex===1?'':'button-table'" class="mr-2" (click)="changeStatusList('Ongoing')"
              label="">Ongoing</button>
          <button nbButton [status]="activeIndex === 2 ? 'primary' : 'control'"
              [ngClass]="activeIndex===1?'':'button-table'" (click)="changeStatusList('Completed')" label="">COMPLETED
              </button>
      </div>
      <!-- <div>
          <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2"
              nbTooltip="CSV" nbTooltipPlacement="top"></button>
          <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
              class="p-button-success mr-2" nbTooltip="XLS" nbTooltipPlacement="top"></button>
      </div> -->

  </div>
</nb-card>
<p-toast></p-toast>



<nb-card>

    <p-table #dt1 [value]="requisitionListData" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
        [paginator]="checkListRecord===true ? true : false"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['VendorName','VesselName']" [tableStyle]="{ 'min-width': '50rem' }" [columns]="cols"
        [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="d-flex">
                <span class=" ml-auto">
                    <input nbInput type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search keyword" />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th pSortableColumn="VendorId">
                    Vendor Name<p-sortIcon field="VendorId"></p-sortIcon>
                </th>
                <th pSortableColumn="VesselId">
                    Vessel Name<p-sortIcon field="VesselId"></p-sortIcon>
                </th>
                <th pSortableColumn="PortId">
                    Supply Port<p-sortIcon field="PortId"></p-sortIcon>
                </th>
                <th pSortableColumn="SupplyDate">
                    Supply Date<p-sortIcon field="SupplyDate"></p-sortIcon>
                </th>
                <th pSortableColumn="Status">
                   Order Status<p-sortIcon field="Status"></p-sortIcon>
                </th>
                <!-- <th pSortableColumn="MURFixtureNo">
                    MUR Fixture No.<p-sortIcon field="MURFixtureNo"></p-sortIcon>
                </th> -->
                <!-- <th pSortableColumn="TypeOfSupplyId">
                    Type of Supply <p-sortIcon field="TypeOfSupplyId"></p-sortIcon>
                </th> -->
                <th style="width:10%">Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex" let-product
            let-editing="editing">
            <tr [pReorderableRow]="index" [pEditableRow]="product">
                <td>

                    <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
                        {{ rowData.VendorName }}
                    </div>
                    <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
                        animation="pulse">
                    </ngx-skeleton-loader>

                </td>
                <td>

                    <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
                        {{ rowData.VesselName }}
                    </div>
                    <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
                        animation="pulse">
                    </ngx-skeleton-loader>
                </td>
                <td>
                    <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
                        {{ rowData.PortName }}
                    </div>
                    <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
                        animation="pulse">
                    </ngx-skeleton-loader>

                </td>
                <td>

                    <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
                        {{ rowData.SupplyDate | date :'dd-MMM-yyyy' }}
                    </div>
                    <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
                        animation="pulse">
                    </ngx-skeleton-loader>
                </td>
                <td>
                  <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
                      {{ rowData.RequisitionStatus }}
                  </div>
                  <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
                      animation="pulse">
                  </ngx-skeleton-loader>

              </td>
                <!-- <td>
                    <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
                        {{ rowData.MURFixtureNo }}
                    </div>
                    <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
                        animation="pulse">
                    </ngx-skeleton-loader>

                </td> -->
                <!-- <td>
                    <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
                        {{ rowData.SupplyTypeName }}
                    </div>
                    <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
                        animation="pulse">
                    </ngx-skeleton-loader>

                </td> -->

                <td>


                    <div [ngClass]="checkListRecord===false ? 'd-none' : 'd-flex border-none'" class=""
                        style="border-width: 0px 0px 0px 0px !important;">
                        <button pButton pRipple *ngIf="activeIndex ===1" icon="pi pi-eye" nbTooltip="View" nbTooltipPlacement="top"
                        class=" p-button-primary  mr-2" (click)="viewVendorRequisition(rowData.RequisitionId,'RequisitionView')"></button>

                        <button pButton pRipple *ngIf="activeIndex === 0" icon="pi pi-pencil" nbTooltip="Edit" nbTooltipPlacement="top"
                            class=" p-button-primary  mr-2" (click)="editDetials(product)"></button>
                        <button pButton nbTooltip="Delete" *ngIf="activeIndex === 0" nbTooltipPlacement="top" pRipple icon="pi pi-trash"
                            class=" p-button-primary" (click)="deleteDetails(product)"></button>
                            <button *ngIf="activeIndex === 2" pButton styleClass="p-button-rounded" nbTooltip="Details" nbTooltipPlacement="top" pRipple icon="pi pi-external-link"
                            class=" p-button-primary" (click)="viewDetails(rowData.RequisitionId,'RequisitionView')"></button>
                    </div>
                    <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1"
                            appearance="line" animation="pulse">
                        </ngx-skeleton-loader>

                </td>



            </tr>
        </ng-template>
        <!-- <div  #emptyMessageTemplate> -->
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="7">{{emptymessage}}</td>
            </tr>
        </ng-template>
        <!-- </div> -->

    </p-table>

</nb-card>
