<div class="row" *ngIf="activeUser==='Admin'">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>Idle Time Days For Cleaning</nb-card-header>
    </nb-card>
  </div>

  <div class="col-lg-12">
    <nb-card>
      <nb-card-header class="text-center">Idle Time Days For Cleaning</nb-card-header>
      <nb-card-body id="barChart" style=" height:30vh;">
        <chart type="bar" [data]="data" [options]="options"></chart>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header class="text-center">Idle Time Cost For Cleaning</nb-card-header>
      <nb-card-body id="barChart" style=" height:30vh;">
        <chart type="bar" [data]="data" [options]="options"></chart>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="card col-12 m-3 p-0 mt-4">
    <p-table #dt1 [value]="vessel" dataKey="id" [rows]="5" [showCurrentPageReport]="true"
      [paginator]="checkListRecord===true ? true : false"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [globalFilterFields]="['VesselName','IMONumber','FleetTypeName','FleetName','DWT_T','LicenseStartDate', 'LicenseEndDate']"
      [tableStyle]="{ 'min-width': '50rem' }" [columns]="cols" [showCurrentPageReport]="true">

      <ng-template pTemplate="caption">
        <div class="d-flex">
          <!-- <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash" (click)="clear(dt1)"></button> -->
          <!-- <span class=" ml-auto">
                  <input nbInput type="text" (input)="dt1.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />

              </span> -->
        </div>
      </ng-template>

      <ng-template pTemplate="header" let-columns>
        <tr>

          <!-- <th *ngFor="let col of columns" pReorderableColumn  [pSortableColumn]="[col.field]">
              {{ col.header }} <p-sortIcon [field]="[col.field]"></p-sortIcon>
            </th> -->

          <th pSortableColumn="VesselName">
            Vessel Name <p-sortIcon field="VesselName"></p-sortIcon>


          </th>
          <th pSortableColumn="IMONumber">
            IMO Number <p-sortIcon field="IMONumber"></p-sortIcon>
          </th>
          <th pSortableColumn="FleetTypeName">
            Fleet Type Name<p-sortIcon field="FleetTypeName"></p-sortIcon>
          </th>
          <th pSortableColumn="FleetName">
            Fleet Name<p-sortIcon field="FleetName"></p-sortIcon>
          </th>
          <th pSortableColumn="DWT_T">
            DWT(T)<p-sortIcon field="DWT_T"></p-sortIcon>
          </th>
          <th pSortableColumn="LicenseStartDate">
            Licence Start Date<p-sortIcon field="LicenseStartDate"></p-sortIcon>
          </th>
          <th pSortableColumn="LicenseEndDate">
            Licence End Date<p-sortIcon field="LicenseEndDate"></p-sortIcon>
          </th>



          <!-- <th>License Log</th>
            <th>Manage License</th> -->
          <!-- <th>Action</th> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns" let-index="rowIndex" let-product
        let-editing="editing">
        <tr [pReorderableRow]="index" [pEditableRow]="product">
          <!-- <td *ngFor="let col of columns">
              {{ rowData[col.field]}}
            </td> -->

          <!--     this.cols = [
          { field: "VesselName", header: "Vessel Name" },
          { field: "IMONumber", header: `IMO Number` },
          { field: "FleetTypeName", header: "Fleet Type" },
          { field: "FleetName", header: "Fleet Name" },
          { field: "DWT_T", header: "DWT(T)" },
          { field: "LicenseStartDate", header: "License Start" },
          { field: "LicenseEndDate", header: "License Expiring " },

        ]; -->
          <td>
            <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
              {{ rowData.VesselName }}
            </div>
            <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
              animation="pulse">
            </ngx-skeleton-loader>

          </td>

          <td>
            <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
              {{ rowData.IMONumber }}
            </div>
            <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
              animation="pulse">
            </ngx-skeleton-loader>

          </td>

          <td>
            <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
              {{ rowData.FleetTypeName }}
            </div>
            <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
              animation="pulse">
            </ngx-skeleton-loader>

          </td>


          <td>
            <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
              {{ rowData.FleetName }}
            </div>
            <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
              animation="pulse">
            </ngx-skeleton-loader>

          </td>
          <td>
            <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
              {{ rowData.DWT_T }}
            </div>
            <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
              animation="pulse">
            </ngx-skeleton-loader>

          </td>
          <td>
            <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
              {{ rowData.LicenseStartDate | date:'dd/MM/yyyy' }}
            </div>
            <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
              animation="pulse">
            </ngx-skeleton-loader>

          </td>
          <td>
            <div [ngClass]="checkListRecord===false ? 'd-none' : ''">
              {{ rowData.LicenseEndDate | date:'dd/MM/yyyy' }}
            </div>
            <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
              animation="pulse">
            </ngx-skeleton-loader>

          </td>


          <!-- <td>
              <div [ngClass]="checkListRecord===false ? 'd-none' : 'd-flex border-none'" class=""
                  style="border-width: 0px 0px 0px 0px !important;">
                  <button pButton pRipple icon="pi pi-eye" nbTooltip="View" nbTooltipPlacement="top"  class=" p-button-primary  mr-2" (click)="viewLog(rowData)"></button>
                  <button pButton pRipple icon="pi pi-plus" nbTooltip="Add Licence" nbTooltipPlacement="top"  class=" p-button-primary  mr-2" (click)="manageLicense(rowData)"></button>
                  <button pButton pRipple icon="pi pi-pencil" nbTooltip="Edit" nbTooltipPlacement="top"
                      class=" p-button-primary  mr-2" (click)="editDetails(product)"></button>
                  <button pButton nbTooltip="Delete" nbTooltipPlacement="top" pRipple icon="pi pi-trash"
                      class=" p-button-primary" (click)="deleteDetails(product)"></button>
              </div>
              <ngx-skeleton-loader [ngClass]="checkListRecord===true ? 'd-none' : ''" count="1" appearance="line"
                  animation="pulse">
              </ngx-skeleton-loader>
          </td> -->
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="7">{{emptymessage}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>

<!-- <nb-card class="px-2">
    <nb-card-header class="row align-items-center justify-content-between">
      <div>
        <h5>Vessel Management</h5>
      </div>
      <div>
      </div>
    </nb-card-header>
  </nb-card> -->


<nb-card class="px-2" *ngIf="activeUser!=='Admin'">
  <nb-card-header class="row align-items-center justify-content-between">
    <div class="col-md-6 col-9 ">
      <h5>Vendor Dashboard</h5>
    </div>


  </nb-card-header>
</nb-card>
