<p-toast></p-toast>
<nb-card class="px-3 container"
[nbSpinner]="loading" nbSpinnerStatus="primary"
nbSpinnerSize="large" nbSpinnerMessage="">

    <form [formGroup]="nbForm" (ngSubmit)="submit()">
        <nb-card-header class="row  align-items-center justify-content-between">
            <div>
                <h5>{{formTitle}} Circular Form</h5>
            </div>
            <div>
                <button type="button" nbButton status="danger" (click)="close()" class="mr-2">Cancel</button>
                <button type="button" nbButton status="basic" (click)="clearForm()" type="button" class=" mr-2">Clear
                    Form</button>
                <button type="submit" nbButton status="primary" class=" mr-2">Submit</button>
            </div>
        </nb-card-header>
        <nb-card-body class="example-items-rows">
            <div class="row px-2">
                <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
                    <label for="CategoryId" class="form-label">Category<span style="color: red;">*</span></label>
                    <ng-select class="dropdown-top"  (keyup)="getCircularCategoryList(1,100,$event.target.value)" formControlName="CategoryId" [appendTo]="'body'"
                        placeholder="Select Category" fullWidth fieldSize="medium">
                        <ng-option *ngFor="let option of dropDownCircularList" [value]="option.CircularCategoryId">
                            {{option.CircularCategoryName }}</ng-option>
                    </ng-select>
                    <small
                        *ngIf="nbForm.get('CategoryId')?.invalid && (nbForm.get('CategoryId')?.touched || nbForm.get('CategoryId')?.dirty)">
                        <nb-hint style="color: red;" *ngIf=" nbForm.get('CategoryId')?.errors?.['required']">
                            Required</nb-hint>
                    </small>
                </div>
                <div class="mb-3  col-md-6 col-lg-6 col-sm-12">
                    <label for="CargoId" class="form-label">Cargo<span style="color: red;">*</span></label>
                    <ng-select class="dropdown-top"    (keyup)="getCargoListRecords(1,100,$event.target.value)" [appendTo]="'body'" [multiple]="true" fullWidth
                        formControlName="CargoId" placeholder="Connect to a Cargo">
                        <ng-option *ngFor="let option of dropDownCargoList" [value]="option.CargoName">{{
                            option.CargoName }}</ng-option>
                    </ng-select>
                    <small
                        *ngIf="nbForm.get('CargoId')?.invalid && (nbForm.get('CargoId')?.touched || nbForm.get('CargoId')?.dirty)">
                        <nb-hint style="color: red;" *ngIf=" nbForm.get('CargoId')?.errors?.['required']">
                            Required</nb-hint>
                    </small>
                </div>
                <div class="mb-3  col-md-6 col-lg-6 col-sm-12">
                    <label for="VesselId" class="form-label">Vessel<span style="color: red;">*</span></label>
                    <ng-select class="dropdown-top" (keyup)="getVesselListRecords(1,100,$event.target.value)" [appendTo]="'body'" [multiple]="true" fullWidth
                        formControlName="VesselId" placeholder="Select Vessel ">
                        <ng-option *ngFor="let option of dropDownVesselList" [value]="option.VesselName">{{
                            option.VesselName }}</ng-option>
                    </ng-select>
                    <small
                        *ngIf="nbForm.get('VesselId')?.invalid && (nbForm.get('VesselId')?.touched || nbForm.get('VesselId')?.dirty)">
                        <nb-hint style="color: red;" *ngIf=" nbForm.get('VesselId')?.errors?.['required']">
                            Required</nb-hint>
                    </small>
                </div>
                <div class="mb-3  col-md-6 col-lg-6 col-sm-12">
                    <label for="PortId" class="form-label">Port<span style="color: red;">*</span></label>
                    <ng-select class="dropdown-top" (keyup)="getPortList(1,100,$event.target.value)" [appendTo]="'body'" [multiple]="true" fullWidth
                        formControlName="PortId" placeholder="Connect to a Port">
                        <ng-option *ngFor="let option of dropDownPortList" [value]="option.PortName">{{
                            option.PortName }}</ng-option>
                    </ng-select>
                    <small
                        *ngIf="nbForm.get('PortId')?.invalid && (nbForm.get('PortId')?.touched || nbForm.get('PortId')?.dirty)">
                        <nb-hint style="color: red;" *ngIf=" nbForm.get('PortId')?.errors?.['required']">
                            Required</nb-hint>
                    </small>
                </div>
                <div class="mb-3  col-md-6 col-lg-6 col-sm-12">
                    <label class="form-label">Application<span style="color: red;">*</span></label>
                    <ng-select class="dropdown-top"    (keyup)="getApplicabilityListRecords(1,100,$event.target.value)" [appendTo]="'body'" fullWidth formControlName="ApplicableId"
                        placeholder="Select Application ">
                        <ng-option *ngFor="let option of dropDownApplicabilityList" [value]="option.ApplicableId">{{
                            option.ApplicableName }}</ng-option>
                    </ng-select>
                    <small
                        *ngIf="nbForm.get('ApplicableId')?.invalid && (nbForm.get('ApplicableId')?.touched || nbForm.get('ApplicableId')?.dirty)">
                        <nb-hint style="color: red;" *ngIf=" nbForm.get('ApplicableId')?.errors?.['required']">
                            Required</nb-hint>
                    </small>
                </div>
                <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
                    <label for="AutoArchiveDate" class="form-label">Auto Archive Date</label><br>
                    <input nbInput formControlName="AutoArchiveDate" placeholder="Auto Archive Date" fullWidth
                        fieldSize="medium" [nbDatepicker]="dateTimePicker3">
                    <nb-datepicker #dateTimePicker3></nb-datepicker>
                    <!-- <small
                        *ngIf="nbForm.get('AutoArchiveDate')?.invalid && (nbForm.get('AutoArchiveDate')?.touched || nbForm.get('AutoArchiveDate')?.dirty)">
                        <nb-hint style="color: red;" *ngIf=" nbForm.get('AutoArchiveDate')?.errors?.['required']">
                            Required</nb-hint>
                    </small> -->
                </div>
                <div class="mb-3 col-12">
                    <label for="Title" class="form-label">Title<span style="color: red;">*</span></label>
                    <input type="text"  formControlName="Title" nbInput fullWidth fieldSize="medium"
                        placeholder="Write Title">
                    <small
                        *ngIf="nbForm.get('Title')?.invalid && (nbForm.get('Title')?.touched || nbForm.get('Title')?.dirty)">
                        <nb-hint style="color: red;" *ngIf=" nbForm.get('Title')?.errors?.['required']">
                            Required</nb-hint>
                            <nb-hint style="color: red;"*ngIf="nbForm.get('Title')?.errors?.['maxlength']">
                            Title should have at most 120 characters</nb-hint>
                    </small>
                </div>
                <div class="mb-3 col-12">
                    <label for="Text" class="form-label">Text editer
                    </label>
                    <ckeditor [editor]="Editor" formControlName="Text"></ckeditor>
                </div>
                <!-- <div class="col-12">
                    <label class="mb-3 form-label">File Upload
                    </label>
                    <p-fileUpload class="px-0" type="file" #fileUpload  formControlName="Attechment"  (onSelect)="onUpload($event)" [multiple]="false"
                        accept=".pdf" maxFileSize="2000000" >
                        <ng-template pTemplate="content" mode="basic" class="custom-file-upload">
                        </ng-template>
                    </p-fileUpload>
                </div> -->
                <!-- <div class="col-12"><iframe [src]="pdfSrc" width="100%" height="500px"></iframe></div> -->
                <div class="col-12">
                    <div class="d-flex align-items-start">
                        <label class="mb-3 form-label">File Upload<span style="color: red;">*</span>
                        </label>

                    </div>
                    <div>
                        <p-fileUpload  class="px-0" type="file" formControlName="Attechment"
                            (onSelect)="onUpload($event)" [multiple]="false" accept=".pdf" maxFileSize="2000000">
                           <ng-template class="py-0" pTemplate="content" mode="basic" class="custom-file-upload">
                            </ng-template>
                        </p-fileUpload>
                        <div *ngIf="selectedItem?.Attechment">
                            <a href="{{circularLinkPDF}}" class="mt-1" nbButton status="primary" target="_blank">View Uploaded
                                PDF</a>
                        </div>
                    </div>



                </div>
            </div>
        </nb-card-body>
    </form>
</nb-card>
