// nb-card {
//   width: 50vw;
//   max-height: 90vh;
//   overflow-y: auto;
// }


@media only screen and (max-width: 600px) {
  nb-card {
    width: 80vw;
    max-height: 90vh;
    overflow-y: auto;
  }
}

@media only screen and (min-width: 600px) {
  nb-card {
    width: 90vw;
    max-height: 90vh;
    overflow-y: auto;
  }
}

@media only screen and (min-width: 768px)  and (min-width: 1200px) {
  nb-card {
    width: 50vw;
    max-height: 90vh;
    overflow-y: auto;
  }  
}



:host ::ng-deep .ck-editor__editable_inline {
  min-height: 100px;
}

:host ::ng-deep .p-disabled,
.p-component:disabled {
  display: none !important;
}

:host ::ng-deep .p-fileupload-buttonbar p-button {
  display: none !important;
}

:host ::ng-deep  .p-fileupload .p-fileupload-buttonbar {
 
   border: none !important; 
   padding-left: 0px;
  /* color: #6c6c6c; */
  /* border-bottom: 0 none; */
  /* border-top-right-radius: 6px; */
  /* border-top-left-radius: 6px; */
  .p-fileupload-row .ng-star-inserted div:first-child {
    display: none !important;
  }
}

:host ::ng-deep .p-fileupload .p-fileupload-content {
  border: none !important; 
  padding: 0px !important;

}

:host ::ng-deep .p-fileupload-content .p-progressbar {
  width: 0% !important;
}




:host ::ng-deep {
  .p-fileupload-files .p-fileupload-row div:first-child {
    display: none;
  }
}
