<nb-card class="px-3 mb-0 border-bottom-0">
  <div>
    <nb-card-header class="row  align-items-center justify-content-between">
      <div>
        <h5>{{formTitle}} Voyage Details</h5>
      </div>
      <div>
        <button type="button" nbButton status="basic" (click)="close()" class="mr-2"><nb-icon
            icon="close-outline"></nb-icon></button>

      </div>
    </nb-card-header>

    <nb-card-body class="example-items-rows">
      <nb-stepper #stepper>
        <nb-step [stepControl]="firstForm" label="First step ">
          <form [formGroup]="firstForm" (ngSubmit)="onFirstSubmit()" class="step-container">
            <div class="row px-2">

              <div class="mb-3 col-md-4 col-lg-4 col-sm-12">
                <label for="VesselId" class="form-label">Vessel<span style="color: red;">*</span></label>
                <ng-select class="dropdown-top" (change)="vesselDataAPI()" (keyup)="getVesselListRecords(1,100,$event.target.value)" formControlName="VesselId" [appendTo]="'body'"
                  placeholder="Select Vessel" fullWidth fieldSize="medium">
                  <ng-option *ngFor="let option of vesselDropdown" [value]="option.VesselId">
                    {{option.VesselName }}</ng-option>

                </ng-select>
                <small
                  *ngIf="firstForm.get('VesselId')?.invalid && (firstForm.get('VesselId')?.touched || firstForm.get('VesselId')?.dirty)">
                  <nb-hint style="color: red;" *ngIf=" firstForm.get('VesselId')?.errors?.['required']">
                    Required</nb-hint>
                </small>
              </div>



              <div class="mb-3 col-md-4 col-lg-4 col-sm-12">
                <label class="form-label">LTC/MUR<span style="color: red;">*</span></label>
                <ng-select class="dropdown-top" formControlName="LTCMURId" [appendTo]="'body'"
                  placeholder="Select LTC/MUR" fullWidth fieldSize="medium">
                  <ng-option *ngFor="let option of LtcMurList" [value]="option.LTCMURId">
                    {{option.LTCMURName }}</ng-option>

                </ng-select>
                <small
                  *ngIf="firstForm.get('LTCMURId')?.invalid && (firstForm.get('LTCMURId')?.touched || firstForm.get('LTCMURId')?.dirty)">
                  <nb-hint style="color: red;" *ngIf=" firstForm.get('LTCMURId')?.errors?.['required']">
                    Required</nb-hint>
                </small>
              </div>

              <div class="mb-3 col-md-4 col-lg-4 col-sm-12">
                <label class="form-label">Owner Name<span style="color: red;">*</span></label>
                <ng-select class="dropdown-top" formControlName="OwnerId" [appendTo]="'body'"
                  placeholder="Select Owner Name" fullWidth fieldSize="medium">
                  <ng-option *ngFor="let option of OwnerNameList" [value]="option.OwnerId">
                    {{option.OwnerName }}</ng-option>

                </ng-select>
                <small
                  *ngIf="firstForm.get('OwnerId')?.invalid && (firstForm.get('OwnerId')?.touched || firstForm.get('OwnerId')?.dirty)">
                  <nb-hint style="color: red;" *ngIf=" firstForm.get('OwnerId')?.errors?.['required']">
                    Required</nb-hint>
                </small>
              </div>
              <div class="mb-3 col-md-4 col-lg-4 col-sm-12">
                <label class="form-label">Trade Area<span style="color: red;">*</span></label>
                <ng-select class="dropdown-top" formControlName="TradeAreaId" [appendTo]="'body'"
                  placeholder="Select Trade Area" fullWidth fieldSize="medium">
                  <ng-option *ngFor="let option of TradeAreaList" [value]="option.TradeAreaId">
                    {{option.TradeAreaName }}</ng-option>

                </ng-select>
                <small
                  *ngIf="firstForm.get('TradeAreaId')?.invalid && (firstForm.get('TradeAreaId')?.touched || firstForm.get('TradeAreaId')?.dirty)">
                  <nb-hint style="color: red;" *ngIf=" firstForm.get('TradeAreaId')?.errors?.['required']">
                    Required</nb-hint>
                </small>
              </div>


              <div class="mb-3 col-md-4 col-lg-4 col-sm-12">
                <label class="form-label">Voyage Number<span style="color: red;">*</span></label>
                <input type="number" formControlName="VayageNo" nbInput fullWidth fieldSize="medium"
                  placeholder="Enter Voyage Number">
                <small
                  *ngIf="firstForm.get('VayageNo')?.invalid && (firstForm.get('VayageNo')?.touched || firstForm.get('VayageNo')?.dirty)">
                  <nb-hint style="color: red;"
                    *ngIf="firstForm.get('VayageNo')?.errors?.['required']">Required</nb-hint>
                  <!-- <nb-hint style="color: red;"
                  *ngIf="firstForm.get('VayageNo')?.touched  && firstForm.get('VayageNo')?.errors?.['pattern']">Vayage No 7
                  digit</nb-hint> -->
                  <nb-hint style="color: red;" *ngIf="  firstForm.get('VayageNo')?.errors?.['maxlength']">
                    Voyage Number should have at most 50 characters</nb-hint>
                  <nb-hint style="color: red;"
                    *ngIf=" firstForm.get('VayageNo')?.dirty && firstForm.get('VayageNo')?.touched && firstForm.get('VayageNo')?.errors?.['minlength']">
                    Voyage Number should have at least 3 characters</nb-hint>
                </small>
              </div>

              <div class="mb-3 col-md-4 col-lg-4 col-sm-12">
                <label for="StatusId" class="form-label">Status<span style="color: red;">*</span></label>
                <ng-select class="dropdown-top" (change)="onSelectStatus($event)" formControlName="StatusId"
                  [appendTo]="'body'" placeholder="Select Status" fullWidth fieldSize="medium">
                  <ng-option *ngFor="let option of statusDropdown" [value]="option.StatusId">
                    {{option.StatusName }}</ng-option>

                </ng-select>
                <small
                  *ngIf="firstForm.get('StatusId')?.invalid && (firstForm.get('StatusId')?.touched || firstForm.get('StatusId')?.dirty)">
                  <nb-hint style="color: red;" *ngIf=" firstForm.get('StatusId')?.errors?.['required']">
                    Required</nb-hint>
                </small>
              </div>



              <div class="mb-3 col-md-4 col-lg-4 col-sm-12">
                <label for="VoyageCommenceDate" class="form-label">Voyage Commence Date<span
                    style="color: red;">*</span></label><br>
                <input nbInput formControlName="VoyageCommenceDate" placeholder="Pick Date" fullWidth fieldSize="medium"
                  [nbDatepicker]="dateTimePicker1">
                <nb-datepicker #dateTimePicker1
                  (dateChange)="changeOffsetTimeZone('VoyageCommenceDate', $event)"></nb-datepicker>
                <small
                  *ngIf="firstForm.get('VoyageCommenceDate')?.invalid && (firstForm.get('VoyageCommenceDate')?.touched || firstForm.get('VoyageCommenceDate')?.dirty)">
                  <nb-hint style="color: red;" *ngIf=" firstForm.get('VoyageCommenceDate')?.errors?.['required']">
                    Required</nb-hint>
                </small>
              </div>

              <div class="mb-3 col-md-4 col-lg-4 col-sm-12">
                <label for="VesselVoyageCompletedDate" class="form-label">Voyage Completing date<span
                    style="color: red;">*</span></label><br>
                <input nbInput formControlName="VesselVoyageCompletedDate" placeholder="Pick Date" fullWidth
                  fieldSize="medium" [nbDatepicker]="dateTimePicker2">
                <nb-datepicker #dateTimePicker2
                  (dateChange)="changeOffsetTimeZone('VesselVoyageCompletedDate', $event)"></nb-datepicker>
                <small
                  *ngIf="firstForm.get('VesselVoyageCompletedDate')?.invalid && (firstForm.get('VesselVoyageCompletedDate')?.touched || firstForm.get('VesselVoyageCompletedDate')?.dirty)">
                  <nb-hint style="color: red;"
                    *ngIf="firstForm.get('VesselVoyageCompletedDate')?.errors?.['required']">
                    Required</nb-hint>
                  <nb-hint style="color: red;"
                    *ngIf=" firstForm.get('VesselVoyageCompletedDate')?.errors.invalidDateRange">End Date must be
                    greater than Start Date</nb-hint>

                </small>
                <small style="color: red;" *ngIf="(firstForm.get('VesselVoyageCompletedDate').value === '' || firstForm.get('VesselVoyageCompletedDate').value === null) && (firstForm.get('VesselVoyageCompletedDate').touched || firstForm.get('VesselVoyageCompletedDate').dirty)">Required</small>
              </div>

              <div class="mb-3 col-md-4 col-lg-4 col-sm-12">
                <label for="Fixture" class="form-label">Fixture<span style="color: red;">*</span></label>
                <input type="text" nbInput formControlName="Fixture" fullWidth fieldSize="medium"
                  placeholder=" Fixture">
                <small
                  *ngIf="firstForm.get('Fixture')?.invalid && (firstForm.get('Fixture')?.touched || firstForm.get('Fixture')?.dirty)">
                  <nb-hint style="color: red;" *ngIf=" firstForm.get('Fixture')?.errors?.['required']">
                    Required</nb-hint>
                  <nb-hint style="color: red;"
                    *ngIf="firstForm.get('Fixture')?.touched  && firstForm.get('Fixture')?.errors?.['pattern']">Invalid</nb-hint>

                  <nb-hint style="color: red;" *ngIf="  firstForm.get('Fixture')?.errors?.['maxlength']">
                    Fixture should have at most 30 characters</nb-hint>
                  <nb-hint style="color: red;"
                    *ngIf=" firstForm.get('Fixture')?.dirty && firstForm.get('Fixture')?.touched && firstForm.get('Fixture')?.errors?.['minlength']">
                    Fixture should have at least 5 characters</nb-hint>

                  <!-- <nb-hint style="color: red;" *ngIf="  firstForm.get('Fixture')?.errors?.['pattern']">
                                  Fixture should have </nb-hint> -->

                </small>
              </div>

            </div>
            <div class="d-flex justify-content-end">

              <button nbButton nbStepperNext type="submit" status="primary" (click)="onFirstSubmit()">next</button>
            </div>
          </form>
        </nb-step>
        <nb-step [stepControl]="secondForm" label="Second step">
          <form [formGroup]="secondForm" status="primary" (ngSubmit)="onSecondSubmit()" class="step-container">



            <div class="row px-2">


              <div class="mb-3 col-md-4 col-lg-4 col-sm-12">
                <label for="OprTypeId" class="form-label">Opr<span style="color: red;">*</span></label>
                <ng-select class="dropdown-top" (keyup)="getOprTypeListRecords(1,100,$event.target.value)"  formControlName="OprTypeId" [appendTo]="'body'"
                  placeholder="Select Opr Type" fullWidth fieldSize="medium">
                  <ng-option *ngFor="let option of oprDropdown" [value]="option.OprTypeId">
                    {{option.OprTypeName }}</ng-option>

                </ng-select>
                <small
                  *ngIf="secondForm.get('OprTypeId')?.invalid && (secondForm.get('OprTypeId')?.touched || secondForm.get('OprTypeId')?.dirty)">
                  <nb-hint style="color: red;" *ngIf=" secondForm.get('OprTypeId')?.errors?.['required']">
                    Required</nb-hint>
                </small>
              </div>

              <div class="mb-3 col-md-4 col-lg-4 col-sm-12">
                <label for="LoadToPort" class="form-label">Load Port<span style="color: red;">*</span></label>
                <ng-select class="dropdown-top" [multiple]="true"  (keyup)="getPortList(1,100,$event.target.value)" formControlName="LoadToPort" [appendTo]="'body'"
                  placeholder="Select Load Port" fullWidth fieldSize="medium">
                  <ng-option *ngFor="let option of portDropdown" [value]="option.PortName">
                    {{option.PortName }}</ng-option>

                </ng-select>
                <small
                  *ngIf="secondForm.get('LoadToPort')?.invalid && (secondForm.get('LoadToPort')?.touched || secondForm.get('LoadToPort')?.dirty)">
                  <nb-hint style="color: red;" *ngIf=" secondForm.get('LoadToPort')?.errors?.['required']">
                    Required</nb-hint>
                </small>
              </div>


              <div class="mb-3 col-md-4 col-lg-4 col-sm-12">
                <label for="DischargePort" class="form-label">Discharge Port<span style="color: red;">*</span></label>
                <ng-select class="dropdown-top" [multiple]="true"  (keyup)="getPortList(1,100,$event.target.value)" formControlName="DischargePort" [appendTo]="'body'"
                  placeholder="Select Discharge Port" fullWidth fieldSize="medium">
                  <ng-option *ngFor="let option of portDropdown" [value]="option.PortName">
                    {{option.PortName }}</ng-option>
                </ng-select>
                <small
                  *ngIf="secondForm.get('DischargePort')?.invalid && (secondForm.get('DischargePort')?.touched || secondForm.get('DischargePort')?.dirty)">
                  <nb-hint style="color: red;" *ngIf=" secondForm.get('DischargePort')?.errors?.['required']">
                    Required</nb-hint>
                </small>
              </div>
              <div class="mb-3 col-md-4 col-lg-4 col-sm-12">
                <label for="CargotoLoad" class="form-label">Cargo To Load<span style="color: red;">*</span></label>
                <ng-select class="dropdown-top" [multiple]="true"  (keyup)="getCargoListRecords(1,100,$event.target.value)" formControlName="CargotoLoad" [appendTo]="'body'"
                  placeholder="Select Cargo To Load" fullWidth fieldSize="medium">
                  <ng-option *ngFor="let option of cargoDropdown" [value]="option.CargoName">
                    {{option.CargoName }}</ng-option>

                </ng-select>
                <small
                  *ngIf="secondForm.get('CargotoLoad')?.invalid && (secondForm.get('CargotoLoad')?.touched || secondForm.get('CargotoLoad')?.dirty)">
                  <nb-hint style="color: red;" *ngIf=" secondForm.get('CargotoLoad')?.errors?.['required']">
                    Required</nb-hint>
                </small>
              </div>


              <div class="mb-3 col-md-4 col-lg-4 col-sm-12">
                <label for="PreviousCargo" class="form-label">Previous Cargo<span style="color: red;">*</span></label>
                <ng-select class="dropdown-top" [multiple]="true"  (keyup)="getCargoListRecords(1,100,$event.target.value)" formControlName="PreviousCargo" [appendTo]="'body'"
                  placeholder="Select Previous Cargo" fullWidth fieldSize="medium">
                  <ng-option *ngFor="let option of cargoDropdown" [value]="option.CargoName">
                    {{option.CargoName }}</ng-option>

                </ng-select>
                <small
                  *ngIf="secondForm.get('PreviousCargo')?.invalid && (secondForm.get('PreviousCargo')?.touched || secondForm.get('PreviousCargo')?.dirty)">
                  <nb-hint style="color: red;" *ngIf=" secondForm.get('PreviousCargo')?.errors?.['required']">
                    Required</nb-hint>
                </small>
              </div>



              <div class="mb-3 col-md-4 col-lg-4 col-sm-12">
                <label for="HoldPassId" class="form-label">Hold Pass/Fail<span style="color: red;">*</span></label>
                <ng-select class="dropdown-top" formControlName="HoldPassId" [appendTo]="'body'"
                  placeholder="Select Hold" fullWidth fieldSize="medium">
                  <ng-option *ngFor="let option of holdPassList" [value]="option.HoldPassId">
                    {{option.HoldPassName }}</ng-option>

                </ng-select>
                <small
                  *ngIf="secondForm.get('HoldPassId')?.invalid && (secondForm.get('HoldPassId')?.touched || secondForm.get('HoldPassId')?.dirty)">
                  <nb-hint style="color: red;" *ngIf=" secondForm.get('HoldPassId')?.errors?.['required']">
                    Required</nb-hint>
                </small>
              </div>







            </div>



            <div class="d-flex justify-content-end">
              <button nbButton nbStepperPrevious class="mr-2">prev</button>
              <button nbButton nbStepperNext type="submit" status="primary" (click)="onSecondSubmit()">next</button>
            </div>
          </form>
        </nb-step>
        <nb-step [stepControl]="thirdForm" label="Third step">
          <form [formGroup]="thirdForm" (ngSubmit)="onThirdSubmit()" class="step-container">
            <div class="row px-2">


              <div class="mb-3 col-12">
                <label for="ITC Budget" class=" pl-0 form-label col-12">Total Cleaning Costs</label>
                <div class="row align-items-start">
                  <div class="col-md-4 col-lg-4 col-sm-12 mb-2 mb-md-0  mb-lg-0">
                    <!-- <label for="TCCBudgetUSD" class="form-label">TCC Budget (USD)<span
                        style="color: red;">*</span></label> -->
                    <input type="number" readonly (blur)="calculate('TCC')" formControlName="TCCBudgetUSD" nbInput
                      fullWidth fieldSize="medium" placeholder="TCC Budget (USD)">
                    <!-- <small
                      *ngIf="thirdForm.get('TCCBudgetUSD')?.invalid && (thirdForm.get('TCCBudgetUSD')?.touched || thirdForm.get('TCCBudgetUSD')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('TCCBudgetUSD')?.errors?.['required']">
                        Required</nb-hint>
                    </small> -->
                  </div>
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-md-0  mb-lg-0">
                    <!-- <label for="TCCActual" class="form-label">TCC Actual<span style="color: red;">{{statusValue ==
                                        "Completed"?'*':''}}</span></label> -->
                    <input type="number" readonly (blur)="calculate('TCC')" formControlName="TCCActual" nbInput
                      fullWidth fieldSize="medium" placeholder="TCC Actual">
                    <!-- <small [ngClass]="statusValue == 'Completed'?'':'d-none'"
                      *ngIf="thirdForm.get('TCCActual')?.invalid && (thirdForm.get('TCCActual')?.touched || thirdForm.get('TCCActual')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('TCCActual')?.errors?.['required']">
                        Required</nb-hint>
                    </small> -->
                  </div>
                  <div class=" col-md-4 col-lg-4 col-sm-12 ">
                    <!-- <label for="TCCProvisions" class="form-label">TCC Difference<span
                        style="color: red;">*</span></label> -->
                    <input type="number" readonly formControlName="TCCProvisions" nbInput fullWidth fieldSize="medium"
                      placeholder="TCC Difference">
                    <!-- <small
                      *ngIf="thirdForm.get('TCCProvisions')?.invalid && (thirdForm.get('TCCProvisions')?.touched || thirdForm.get('TCCProvisions')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('TCCProvisions')?.errors?.['required']">
                        Required</nb-hint>
                    </small> -->
                  </div>
                </div>
              </div>
              <div class="mb-3 col-12">
                <label for="ITDBudget" class=" pl-0 form-label col-12">Idle Time Days For Cleaning (ITD)<span
                    style="color: red;">*</span></label>
                <div class="row align-items-start">
                  <div class=" col-lg-3  col-md-3  col-sm-12 mb-2 mb-lg-0 mb-md-0 ">

                    <input type="number" formControlName="ITDBudget" (blur)="calculate('ITD')" nbInput fullWidth
                      fieldSize="medium" placeholder="ITD Budget">
                    <small
                      *ngIf="thirdForm.get('ITDBudget')?.invalid && (thirdForm.get('ITDBudget')?.touched || thirdForm.get('ITDBudget')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('ITDBudget')?.errors?.['required']">
                        Required</nb-hint>
                      <nb-hint style="color: red;" *ngIf="thirdForm.get('ITDBudget')?.errors?.['pattern']">
                        Max 6 digits - 2 Decimal places</nb-hint>
                    </small>

                  </div>
                  <div class="col-lg-3  col-md-3  col-sm-12 mb-2 mb-lg-0 mb-md-0">

                    <input type="number" formControlName="ITDActual" (blur)="calculate('ITD')" nbInput fullWidth
                      fieldSize="medium" placeholder="ITD Actual">
                    <small [ngClass]="statusValue === 'Completed'?'':'d-none'"
                      *ngIf="thirdForm.get('ITDActual')?.invalid && (thirdForm.get('ITDActual')?.touched || thirdForm.get('ITDActual')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('ITDActual')?.errors?.['required']">
                        Required</nb-hint>

                      <nb-hint style="color: red;" *ngIf="thirdForm.get('ITDActual')?.errors?.['pattern']">
                        Max 6 digits - 2 Decimal places</nb-hint>
                    </small>
                  </div>
                  <div class="col-lg-3  col-md-3  col-sm-12 mb-2 mb-lg-0 mb-md-0">

                    <input type="number" readonly formControlName="ITDProvisions" nbInput fullWidth fieldSize="medium"
                      placeholder="ITD Difference">
                    <small
                      *ngIf="thirdForm.get('ITDProvisions')?.invalid && (thirdForm.get('ITDProvisions')?.touched || thirdForm.get('ITDProvisions')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('ITDProvisions')?.errors?.['required']">
                        Required</nb-hint>
                    </small>
                  </div>



                  <div class="col-lg-3  col-md-3  col-sm-12 mb-2 mb-lg-0 mb-md-0">
                    <ng-select class="dropdown-top" formControlName="ITDStatusId" [appendTo]="'body'"
                      placeholder="Status" fullWidth fieldSize="medium">
                      <ng-option *ngFor="let option of PlanStatusList" [value]="option.PlanStatusId">
                        {{option.PlanStatusName }}</ng-option>

                    </ng-select>
                    <small
                      *ngIf="thirdForm.get('ITDStatusId')?.invalid && (thirdForm.get('ITDStatusId')?.touched || thirdForm.get('ITDStatusId')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('ITDStatusId')?.errors?.['required']">
                        Required</nb-hint>
                    </small>
                  </div>
                </div>
              </div>
              <div class="mb-3 col-12">
                <label for="ITC Budget" class=" pl-0 form-label col-12">Shore Cleaning Gang (SCG)<span
                    style="color: red;">*</span></label>
                <div class="row align-items-start">
                  <div class="col-lg-3  col-md-3  col-sm-12 mb-2 mb-lg-0 mb-md-0">                    <!-- <label for="SCGBudget" class="form-label">SCG Budget<span style="color: red;">*</span></label> -->
                    <input type="number" formControlName="SCGBudget" (blur)="calculate('SCG')" nbInput fullWidth
                      fieldSize="medium" placeholder="SCG Budget">
                    <small
                      *ngIf="thirdForm.get('SCGBudget')?.invalid && (thirdForm.get('SCGBudget')?.touched || thirdForm.get('SCGBudget')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('SCGBudget')?.errors?.['required']">
                        Required</nb-hint>
                      <nb-hint style="color: red;" *ngIf="  thirdForm.get('SCGBudget')?.errors?.['pattern']">
                        SCG Budget Max 6 digits - 2 Decimal places</nb-hint>
                    </small>
                  </div>
                  <div class="col-lg-3  col-md-3  col-sm-12 mb-2 mb-lg-0 mb-md-0">                    <!-- <label for="SCGActual" class="form-label">SCG Actual<span style="color: red;">{{statusValue ==
                                    "Completed"?'*':''}}</span></label> -->
                    <input type="number" formControlName="SCGActual" (blur)="calculate('SCG')" nbInput fullWidth
                      fieldSize="medium" placeholder="SCG Actual">
                    <small [ngClass]="statusValue === 'Completed'?'':'d-none'"
                      *ngIf="thirdForm.get('SCGActual')?.invalid && (thirdForm.get('SCGActual')?.touched || thirdForm.get('SCGActual')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('SCGActual')?.errors?.['required']">
                        Required</nb-hint>
                      <nb-hint style="color: red;" *ngIf="  thirdForm.get('SCGActual')?.errors?.['pattern']">
                        SCG Actual Max 6 digits - 2 Decimal places</nb-hint>
                    </small>
                  </div>
                  <div class="col-lg-3  col-md-3  col-sm-12 mb-2 mb-lg-0 mb-md-0">                    <!-- <label for="SCGProvisions" class="form-label">SCG Difference<span
                                    style="color: red;">*</span></label> -->
                    <input type="number" readonly formControlName="SCGProvisions" nbInput fullWidth fieldSize="medium"
                      placeholder="SCG Difference">
                    <small
                      *ngIf="thirdForm.get('SCGProvisions')?.invalid && (thirdForm.get('SCGProvisions')?.touched || thirdForm.get('SCGProvisions')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('SCGProvisions')?.errors?.['required']">
                        Required</nb-hint>

                    </small>
                  </div>

                  <div class="col-lg-3  col-md-3  col-sm-12 mb-2 mb-lg-0 mb-md-0">                    <!-- <label class="form-label">SCG Status<span style="color: red;">*</span></label> -->
                    <ng-select class="dropdown-top" formControlName="SCGStatusId" [appendTo]="'body'"
                      placeholder="Status" fullWidth fieldSize="medium">
                      <ng-option *ngFor="let option of PlanStatusList" [value]="option.PlanStatusId">
                        {{option.PlanStatusName }}</ng-option>

                    </ng-select>
                    <small
                      *ngIf="thirdForm.get('SCGStatusId')?.invalid && (thirdForm.get('SCGStatusId')?.touched || thirdForm.get('SCGStatusId')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('SCGStatusId')?.errors?.['required']">
                        Required</nb-hint>
                    </small>
                  </div>
                </div>
              </div>

              <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
                <label for="ITC Budget" class=" pl-0 form-label col-12">Idle Time Cost (Fixture Costs) (ITC)<span
                    style="color: red;">*</span></label>
                <div class="row align-items-start">

                  <div class="col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">
                    <!-- <label for="ITCBudget" class="form-label">ITC Budget<span style="color: red;">*</span></label> -->
                    <input type="number" formControlName="ITCBudget" (blur)="calculate('ITC')" nbInput fullWidth
                      fieldSize="medium" placeholder="ITC Budget">
                    <small
                      *ngIf="thirdForm.get('ITCBudget')?.invalid && (thirdForm.get('ITCBudget')?.touched || thirdForm.get('ITCBudget')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('ITCBudget')?.errors?.['required']">
                        Required</nb-hint>
                      <nb-hint style="color: red;" *ngIf="  thirdForm.get('ITCBudget')?.errors?.['pattern']">
                        Max 6 digits - 2 Decimal places</nb-hint>


                    </small>
                  </div>
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">
                    <!-- <label for="ITCActual" class="form-label">ITC Actual<span style="color: red;">{{statusValue ==
                                      "Completed"?'*':''}}</span></label> -->
                    <input type="number" formControlName="ITCActual" (blur)="calculate('ITC')" nbInput fullWidth
                      fieldSize="medium" placeholder="ITC Actual">
                    <small [ngClass]="statusValue === 'Completed'?'':'d-none'"
                      *ngIf="thirdForm.get('ITCActual')?.invalid && (thirdForm.get('ITCActual')?.touched || thirdForm.get('ITCActual')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('ITCActual')?.errors?.['required']">
                        Required</nb-hint>
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('ITCActual')?.errors?.['pattern']">
                        Max 6 digits - 2 Decimal places</nb-hint>
                    </small>
                  </div>
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0 ">
                    <!-- <label for="ITCProvisions" class="form-label">ITC Difference<span
                                      style="color: red;">*</span></label> -->
                    <input type="number" readonly formControlName="ITCProvisions" nbInput fullWidth fieldSize="medium"
                      placeholder="ITC Difference">
                    <small
                      *ngIf="thirdForm.get('ITCProvisions')?.invalid && (thirdForm.get('ITCProvisions')?.touched || thirdForm.get('ITCProvisions')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('ITCProvisions')?.errors?.['required']">
                        Required</nb-hint>
                    </small>
                  </div>
                </div>
              </div>
              <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
                <label for="ITBBudget" class=" pl-0 form-label col-12">Idle Time Bunker $ (LSF+LSG) <span
                    style="color: red;">*</span></label>
                <div class="row align-items-start">
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">
                    <!-- <label for="ITBBudget" class="form-label">ITB Budget<span style="color: red;">*</span></label> -->
                    <input type="number" formControlName="ITBBudget" (blur)="calculate('ITB')" nbInput fullWidth
                      fieldSize="medium" placeholder="ITB Budget">
                    <small
                      *ngIf="thirdForm.get('ITBBudget')?.invalid && (thirdForm.get('ITBBudget')?.touched || thirdForm.get('ITBBudget')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('ITBBudget')?.errors?.['required']">
                        Required</nb-hint>
                      <nb-hint style="color: red;" *ngIf="  thirdForm.get('ITBBudget')?.errors?.['pattern']">
                        ITD Budget Max 6 digits - 2 Decimal places</nb-hint>
                    </small>
                  </div>
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">

                    <!-- <label for="ITBActual" class="form-label">ITB Actual<span style="color: red;">{{statusValue ==
                                      "Completed"?'*':''}}</span></label> -->
                    <input type="number" formControlName="ITBActual" (blur)="calculate('ITB')" nbInput fullWidth
                      fieldSize="medium" placeholder="ITB Actual">
                    <small [ngClass]="statusValue === 'Completed'?'':'d-none'"
                      *ngIf="thirdForm.get('ITBActual')?.invalid && (thirdForm.get('ITBActual')?.touched || thirdForm.get('ITBActual')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('ITBActual')?.errors?.['required']">
                        Required</nb-hint>
                      <nb-hint style="color: red;" *ngIf="  thirdForm.get('ITBActual')?.errors?.['pattern']">
                        ITB Actual Max 6 digits - 2 Decimal places</nb-hint>
                    </small>
                  </div>
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">

                    <!-- <label for="ITBProvisions" class="form-label">ITB Difference<span
                                      style="color: red;">*</span></label> -->
                    <input type="number" readonly formControlName="ITBProvisions" nbInput fullWidth fieldSize="medium"
                      placeholder="ITB Difference">
                    <small
                      *ngIf="thirdForm.get('ITBProvisions')?.invalid && (thirdForm.get('ITBProvisions')?.touched || thirdForm.get('ITBProvisions')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('ITBProvisions')?.errors?.['required']">
                        Required</nb-hint>

                    </small>
                  </div>

                </div>
              </div>
              <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
                <label for="ITC Budget" class=" pl-0 form-label col-12">Hold Advisory by Shore & Roving Supdt
                  Cost<span style="color: red;">*</span></label>
                <div class="row align-items-start">
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">

                    <!-- <label for="SHABudget" class="form-label">SHA Budget<span style="color: red;">*</span></label> -->
                    <input type="number" formControlName="SHABudget" (blur)="calculate('SHA')" nbInput fullWidth
                      fieldSize="medium" placeholder="SHA Budget">
                    <small
                      *ngIf="thirdForm.get('SHABudget')?.invalid && (thirdForm.get('SHABudget')?.touched || thirdForm.get('SHABudget')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('SHABudget')?.errors?.['required']">
                        Required</nb-hint>
                      <nb-hint style="color: red;" *ngIf="  thirdForm.get('SHABudget')?.errors?.['pattern']">
                        SHA Budget Max 6 digits - 2 Decimal places</nb-hint>
                    </small>
                  </div>
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">

                    <!-- <label for="SHAActual" class="form-label">SHA Actual<span style="color: red;">{{statusValue ==
                                      "Completed"?'*':''}}</span></label> -->
                    <input type="number" formControlName="SHAActual" (blur)="calculate('SHA')" nbInput fullWidth
                      fieldSize="medium" placeholder="SHA Actual">
                    <small [ngClass]="statusValue === 'Completed'?'':'d-none'"
                      *ngIf="thirdForm.get('SHAActual')?.invalid && (thirdForm.get('SHAActual')?.touched || thirdForm.get('SHAActual')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('SHAActual')?.errors?.['required']">
                        Required</nb-hint>
                      <nb-hint style="color: red;" *ngIf="  thirdForm.get('SHAActual')?.errors?.['pattern']">
                        SHA Actual Max 6 digits - 2 Decimal places</nb-hint>
                    </small>
                  </div>
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">

                    <!-- <label for="SHAProvisions" class="form-label">SHA Difference<span
                                      style="color: red;">*</span></label> -->
                    <input type="number" readonly formControlName="SHAProvisions" nbInput fullWidth fieldSize="medium"
                      placeholder="SHA Difference">
                    <small
                      *ngIf="thirdForm.get('SHAProvisions')?.invalid && (thirdForm.get('SHAProvisions')?.touched || thirdForm.get('SHAProvisions')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('SHAProvisions')?.errors?.['required']">
                        Required</nb-hint>
                    </small>
                  </div>
                </div>
              </div>
              <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
                <label for="ITC Budget" class=" pl-0 form-label col-12">Hold Cleaning Equipment<span
                    style="color: red;">*</span></label>
                <div class="row align-items-start">
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">

                    <!-- <label for="HCEBudget" class="form-label">HCE Budget<span style="color: red;">*</span></label> -->
                    <input type="number" formControlName="HCEBudget" (blur)="calculate('HCE')" nbInput fullWidth
                      fieldSize="medium" placeholder="HCE Budget">
                    <small
                      *ngIf="thirdForm.get('HCEBudget')?.invalid && (thirdForm.get('HCEBudget')?.touched || thirdForm.get('HCEBudget')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('HCEBudget')?.errors?.['required']">
                        Required</nb-hint>
                      <nb-hint style="color: red;" *ngIf="  thirdForm.get('HCEBudget')?.errors?.['pattern']">
                        HCE Budget Max 6 digits - 2 Decimal places</nb-hint>
                    </small>
                  </div>
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">

                    <!-- <label for="HCEActual" class="form-label">HCE Actual<span style="color: red;">{{statusValue ==
                                      "Completed"?'*':''}}</span></label> -->
                    <input type="number" formControlName="HCEActual" (blur)="calculate('HCE')" nbInput fullWidth
                      fieldSize="medium" placeholder="HCE Actual">
                    <small [ngClass]="statusValue === 'Completed'?'':'d-none'"
                      *ngIf="thirdForm.get('HCEActual')?.invalid && (thirdForm.get('HCEActual')?.touched || thirdForm.get('HCEActual')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('HCEActual')?.errors?.['required']">
                        Required</nb-hint>
                      <nb-hint style="color: red;" *ngIf="  thirdForm.get('HCEActual')?.errors?.['pattern']">
                        HCE Actual Max 6 digits - 2 Decimal places</nb-hint>
                    </small>
                  </div>
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">

                    <!-- <label for="HCEProvisions" class="form-label">HCE Difference<span
                                      style="color: red;">*</span></label> -->
                    <input type="number" readonly formControlName="HCEProvisions" nbInput fullWidth fieldSize="medium"
                      placeholder="HCE Difference">
                    <small
                      *ngIf="thirdForm.get('HCEProvisions')?.invalid && (thirdForm.get('HCEProvisions')?.touched || thirdForm.get('HCEProvisions')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('HCEProvisions')?.errors?.['required']">
                        Required</nb-hint>
                    </small>
                  </div>
                </div>
              </div>
              <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
                <label for="ITC Budget" class=" pl-0 form-label col-12">Hold Cleaning Chemicals<span
                    style="color: red;">*</span></label>
                <div class="row align-items-start">
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">

                    <!-- <label for="HCCBudget" class="form-label">HCC Budget<span style="color: red;">*</span></label> -->
                    <input type="number" formControlName="HCCBudget" (blur)="calculate('HCC')" nbInput fullWidth
                      fieldSize="medium" placeholder="HCC Budget">
                    <small
                      *ngIf="thirdForm.get('HCCBudget')?.invalid && (thirdForm.get('HCCBudget')?.touched || thirdForm.get('HCCBudget')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('HCCBudget')?.errors?.['required']">
                        Required</nb-hint>
                      <nb-hint style="color: red;" *ngIf="  thirdForm.get('HCCBudget')?.errors?.['pattern']">
                        HCC Budget Max 6 digits - 2 Decimal places</nb-hint>
                    </small>
                  </div>
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">

                    <!-- <label for="HCCActual" class="form-label">HCC Actual<span style="color: red;">{{statusValue ==
                                      "Completed"?'*':''}}</span></label> -->
                    <input type="number" formControlName="HCCActual" (blur)="calculate('HCC')" nbInput fullWidth
                      fieldSize="medium" placeholder="HCC Actual">
                    <small [ngClass]="statusValue === 'Completed'?'':'d-none'"
                      *ngIf="thirdForm.get('HCCActual')?.invalid && (thirdForm.get('HCCActual')?.touched || thirdForm.get('HCCActual')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('HCCActual')?.errors?.['required']">
                        Required</nb-hint>
                      <nb-hint style="color: red;" *ngIf="  thirdForm.get('HCCActual')?.errors?.['pattern']">
                        HCC Actual Max 6 digits - 2 Decimal places</nb-hint>
                    </small>
                  </div>
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">

                    <!-- <label for="HCCProvisions" class="form-label">HCC Difference<span
                                      style="color: red;">*</span></label> -->
                    <input type="number" readonly formControlName="HCCProvisions" nbInput fullWidth fieldSize="medium"
                      placeholder="HCC Difference">
                    <small
                      *ngIf="thirdForm.get('HCCProvisions')?.invalid && (thirdForm.get('HCCProvisions')?.touched || thirdForm.get('HCCProvisions')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('HCCProvisions')?.errors?.['required']">
                        Required</nb-hint>
                    </small>
                  </div>
                </div>
              </div>
              <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
                <label for="ITC Budget" class=" pl-0 form-label col-12">Hold Cleaning Consumables<span
                    style="color: red;">*</span></label>
                <div class="row align-items-start">
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">

                    <!-- <label for="HCXBudget" class="form-label">HCX Budget<span style="color: red;">*</span></label> -->
                    <input type="number" formControlName="HCXBudget" (blur)="calculate('HCX')" nbInput fullWidth
                      fieldSize="medium" placeholder="HCX Budget">
                    <small
                      *ngIf="thirdForm.get('HCXBudget')?.invalid && (thirdForm.get('HCXBudget')?.touched || thirdForm.get('HCXBudget')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('HCXBudget')?.errors?.['required']">
                        Required</nb-hint>
                      <nb-hint style="color: red;" *ngIf="  thirdForm.get('HCXBudget')?.errors?.['pattern']">
                        HCX Budget Max 6 digits - 2 Decimal places</nb-hint>
                    </small>
                  </div>
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">

                    <!-- <label for="HCXActual" class="form-label">HCX Actual<span style="color: red;">{{statusValue ==
                                      "Completed"?'*':''}}</span></label> -->
                    <input type="number" formControlName="HCXActual" (blur)="calculate('HCX')" nbInput fullWidth
                      fieldSize="medium" placeholder="HCX Actual">
                    <small [ngClass]="statusValue === 'Completed'?'':'d-none'"
                      *ngIf="thirdForm.get('HCXActual')?.invalid && (thirdForm.get('HCXActual')?.touched || thirdForm.get('HCXActual')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('HCXActual')?.errors?.['required']">
                        Required</nb-hint>
                      <nb-hint style="color: red;" *ngIf="  thirdForm.get('HCXActual')?.errors?.['pattern']">
                        HCX Actual Max 6 digits - 2 Decimal places</nb-hint>
                    </small>
                  </div>
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">

                    <!-- <label for="HCXProvisions" class="form-label">HCX Difference<span
                                      style="color: red;">*</span></label> -->
                    <input type="number" readonly formControlName="HCXProvisions" nbInput fullWidth fieldSize="medium"
                      placeholder="HCX Difference">
                    <small
                      *ngIf="thirdForm.get('HCXProvisions')?.invalid && (thirdForm.get('HCXProvisions')?.touched || thirdForm.get('HCXProvisions')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('HCXProvisions')?.errors?.['required']">
                        Required</nb-hint>
                    </small>
                  </div>
                </div>
              </div>
              <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
                <label for="ITC Budget" class=" pl-0 form-label col-12">Additional Crew Bonus $<span
                    style="color: red;">*</span></label>
                <div class="row align-items-start">
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">

                    <!-- <label for="HCBBudget" class="form-label">HCB Budget<span style="color: red;">*</span></label> -->
                    <input type="number" formControlName="HCBBudget" (blur)="calculate('HCB')" nbInput fullWidth
                      fieldSize="medium" placeholder="HCB Budget">
                    <small
                      *ngIf="thirdForm.get('HCBBudget')?.invalid && (thirdForm.get('HCBBudget')?.touched || thirdForm.get('HCBBudget')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('HCBBudget')?.errors?.['required']">
                        Required</nb-hint>
                      <nb-hint style="color: red;" *ngIf="  thirdForm.get('HCBBudget')?.errors?.['pattern']">
                        HCB Budget Max 6 digits - 2 Decimal places</nb-hint>
                    </small>
                  </div>
                  <div class=" col-md-4 col-lg-4 col-sm-12 mb-2 mb-lg-0 mb-md-0">

                    <!-- <label for="HCBActual" class="form-label">HCB Actual<span style="color: red;">{{statusValue ==
                                      "Completed"?'*':''}}</span></label> -->
                    <input type="number" formControlName="HCBActual" (blur)="calculate('HCB')" nbInput fullWidth
                      fieldSize="medium" placeholder="HCB Actual">
                    <small [ngClass]="statusValue === 'Completed'?'':'d-none'"
                      *ngIf="thirdForm.get('HCBActual')?.invalid && (thirdForm.get('HCBActual')?.touched || thirdForm.get('HCBActual')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('HCBActual')?.errors?.['required']">
                        Required</nb-hint>
                      <nb-hint style="color: red;" *ngIf="  thirdForm.get('HCBActual')?.errors?.['pattern']">
                        HCB Actual Max 6 digits - 2 Decimal places</nb-hint>
                    </small>
                  </div>
                  <div class="col-md-4 col-lg-4 col-sm-12">
                    <!-- <label for="HCBProvisions" class="form-label">HCB Difference<span
                                      style="color: red;">*</span></label> -->
                    <input type="number" readonly formControlName="HCBProvisions" nbInput fullWidth fieldSize="medium"
                      placeholder="HCB Difference">
                    <small
                      *ngIf="thirdForm.get('HCBProvisions')?.invalid && (thirdForm.get('HCBProvisions')?.touched || thirdForm.get('HCBProvisions')?.dirty)">
                      <nb-hint style="color: red;" *ngIf=" thirdForm.get('HCBProvisions')?.errors?.['required']">
                        Required</nb-hint>
                    </small>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-end">

              <button nbButton nbStepperPrevious class="mr-2">prev</button>
              <button nbButton nbStepperNext type="submit" status="primary" (click)="onThirdSubmit()">next</button>
            </div>
          </form>
        </nb-step>

        <nb-step [stepControl]="fourthForm" label="Fourth step">
          <form [formGroup]="fourthForm" (ngSubmit)="onfourthSubmit()" class="step-container">
            <div class="row px-2">

              <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
                <!-- <label for="BudgetedDetailsDate" class="form-label">As per Capt Shailey mail - Budgeted details date
                </label> -->
                <label for="BudgetedDetailsDate" class="form-label">Budgeted details date
                </label>
                <br>
                <input nbInput formControlName="BudgetedDetailsDate" placeholder="Pick Date" fullWidth
                  fieldSize="medium" [nbDatepicker]="dateTimePicker3">
                <nb-datepicker #dateTimePicker3
                  (dateChange)="changeOffsetTimeZone('BudgetedDetailsDate', $event)"></nb-datepicker>

              </div>
              <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
                <label for="VesselVoyageCompletingDate" class="form-label">Veson Entry Date<span
                    style="color: red;">*</span></label><br>
                <input nbInput formControlName="VesselVoyageCompletingDate" placeholder="Pick Date" fullWidth
                  fieldSize="medium" [nbDatepicker]="dateTimePicker4">
                <nb-datepicker #dateTimePicker4
                  (dateChange)="changeOffsetTimeZone('VesselVoyageCompletingDate', $event)"></nb-datepicker>
                <small
                  *ngIf="fourthForm.get('VesselVoyageCompletingDate')?.invalid && (fourthForm.get('VesselVoyageCompletingDate')?.touched || fourthForm.get('VesselVoyageCompletingDate')?.dirty)">
                  <nb-hint style="color: red;"
                    *ngIf=" fourthForm.get('VesselVoyageCompletingDate')?.errors?.['required']">
                    Required</nb-hint>
                </small>
              </div>
              <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
                <label class="form-label">Remarks</label>
                <textarea type="text" row="5" formControlName="Remark" nbInput fullWidth fieldSize="medium"
                  placeholder="Enter Remarks">
            </textarea>
                <small
                  *ngIf="fourthForm.get('Remark')?.invalid && (fourthForm.get('Remark')?.touched || fourthForm.get('Remark')?.dirty)">
                  <!-- <nb-hint style="color: red;" *ngIf="firstForm.get('Remark')?.errors?.['required']">Required</nb-hint> -->
                  <nb-hint style="color: red;" *ngIf="  fourthForm.get('Remark')?.errors?.['maxlength']">
                    Remarks should have at most 2000 characters</nb-hint>
                  <!-- <nb-hint style="color: red;"
              *ngIf=" firstForm.get('Remark')?.dirty && firstForm.get('Remark')?.touched && firstForm.get('Remark')?.errors?.['minlength']">
               Remark should have at least 3 characters</nb-hint> -->

                </small>
              </div>

              <div class="mb-3 col-md-6 col-lg-6 col-sm-12">
                <label class="form-label">Final Remarks</label>
                <textarea type="text" row="5" formControlName="FinalRemarks" nbInput fullWidth fieldSize="medium"
                  placeholder="Enter Final Remarks"></textarea>
                <small
                  *ngIf="fourthForm.get('FinalRemarks')?.invalid && (fourthForm.get('FinalRemarks')?.touched || fourthForm.get('FinalRemarks')?.dirty)">
                  <!-- <nb-hint style="color: red;" *ngIf="firstForm.get('FinalRemarks')?.errors?.['required']">Required</nb-hint> -->

                  <nb-hint style="color: red;" *ngIf="  fourthForm.get('FinalRemarks')?.errors?.['maxlength']">
                    Final Remarks should have at most 2000 characters</nb-hint>
                  <!-- <nb-hint style="color: red;"
                *ngIf=" firstForm.get('FinalRemarks')?.dirty && firstForm.get('FinalRemarks')?.touched && firstForm.get('FinalRemarks')?.errors?.['minlength']">
                Final Remarks should have at least 3 characters</nb-hint> -->
                </small>
              </div>
              <!-- <div class="input-group">
            <input nbInput type="text" placeholder="Enter something" class="form-control" formControlName="thirdCtrl"
                   [ngClass]="{'form-control-danger': thirdForm.invalid && (thirdForm.dirty || thirdForm.touched)}">
          </div> -->
            </div>
            <div class="d-flex justify-content-end">

              <button nbButton nbStepperPrevious class="mr-2">prev</button>
              <button nbButton type="submit" status="primary">Submit</button>
            </div>
          </form>
        </nb-step>
        <!-- <nb-step [stepControl]="fourthForm" [hidden]="true" label="Fourth step">
          <div class="step-container">
            <h3>completed!</h3>
            <button nbButton type="submit" (click)="submit()">Submit</button>

            <button nbButton (click)="stepper.reset()">Try again</button>
          </div>
        </nb-step> -->
      </nb-stepper>
    </nb-card-body>
  </div>
</nb-card>
